$blue:#379ED4;
$light_grey:#CBCBCB;
$grey:#6D6D6D;
$white:#fff;
$green:#00D957;
$max300-0:"(min-width:0) and (max-width:300px)";
$max500-301:"(min-width:301px) and (max-width:500px)";
$max768-501:"(min-width:501px) and (max-width:768px)";
.font-blue
{
  color: $blue;
}
.row
{
  margin: 0;
}
.col-md-4
{
  padding: 0;

}
.col-md-8
{
  padding: 0;
}
.white-bg-chating
{
  background-color: #fff;
  border: 1px solid #CBCBCB;
  padding: 0;
  // padding-top: 10px;
  // padding-bottom: 30px;
  margin-top: 20px;
  border-radius: 3px;
}
.chating-border-bottom
{
  border-bottom: 2px solid $light_grey;
}
.sender-details-div
{
  display:flex;
  justify-content:space-between;
}
.inner-border-bottom
{
  border-bottom:1px solid $light_grey;
}
p
{
  font-size: 15px;
  color:$grey;
  text-transform: capitalize;
  @media #{$max500-301}
  {
    font-size: 12px;
  }
  @media #{$max300-0}
  {
    font-size: 12px;
  }
}
.center-flex
{
  display:flex;
  align-items:center;
  justify-content:center;
}
.chatting-hero-section
{
  background-color: #DAF1FF;
  padding: 0 5%;
  padding-bottom: 30px;
  padding-top: 30px;
  border-top: 2px solid #8DC6E9;
  border-bottom: 2px solid #8DC6E9;
  .sender-name
  {
    margin-top: 0;
    text-transform: capitalize;
    font-size: 20px;
    color: $blue;
    @media #{$max500-301}
    {
      font-size: 17px;
    }
    @media #{$max300-0}
    {
      font-size: 15px;
    }
  }
}

.search-div-wrapper
{
  padding: 10px;
  border-right: 2px solid $light_grey;
  .search-div
  {
     border:2px solid $blue;
     display: flex;
     padding: 8px;
     .fa-search
     {
      color: $light_grey;
     }
     input
     {
      border:0;
      width:100%;
      padding-left: 7px;
     }
     ::-webkit-input-placeholder
     {
       color:$light_grey;
       text-transform: capitalize;
       font-size: 20px;
       @media #{$max500-301}
       {
         font-size: 17px;
       }
       @media #{$max300-0}
       {
         font-size: 15px;
       }
     }
     .fontAwesome {
    font-family: Helvetica, 'FontAwesome', sans-serif;
    }
     input:focus
     {
       outline: none;
       .fa
       {
         display: none;
       }
     }
  }
}
#scroll-left
{
  height: 478px;
  overflow-y: scroll;
  margin-right: 5px;
  .left-side-mesages-wrapper:first-child
  {
    padding: 10px 15px;
  }
  .left-side-mesages-wrapper
  {
    padding:5px 15px;
    border-right: 1px solid $light_grey;
    margin-right: 5px;

    .left-side-messages-div
    {
      display:flex;
      padding:5px;
      .fa-comments-o
      {
        color: $light_grey;
      }
      .left-side-messages
      {
        width: 100%;
        margin-left: 20px;
      }
    }
  }
}
#scroll-left::-webkit-scrollbar
{
  width: 5px;
}
#scroll-left::-webkit-scrollbar-thumb
{
  background-color:$light_grey;
  border-radius:50px;
}

.messages-wrapper
{
  padding-left: 0;
  .date-day-wrapper
  {
    padding: 0 15px;
    padding-top: 15px;
    h3
    {
      margin-bottom: 0;
    }
    .date-day
    {
      margin-top: 10px;
    }
  }
  img
  {
    border-radius: 50%;
  }

  .inner-scroll-div
  {
    height: 300px;
    overflow-y: scroll;

  }
  ::-webkit-scrollbar
  {
    width:9px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $grey;
    outline: 1px solid slategrey;
    border-radius: 30px;
  }
  .old-messages-div
  {
    border: 2px solid $light_grey;
    padding: 10px;
    border-top-color: transparent;
    border-bottom-color:transparent;
    .image-message-div
    {
      display:flex;
      margin: 25px 5px;
      .active-circle-div
      {
        position: relative;
        .active-circle
        {
          width:10px;
          height:10px;
          display:block;
          border-radius:50%;
          background-color:$grey;
          position: absolute;
          bottom: 0px;
          right: 10px;
        }
        .online
        {
          background-color: $green;
        }
      }
    }
    .messsage-full-details
    {
      margin-left: 20px;

    }
  }
  .text-box-div
  {
     border-top:2px solid $light_grey;
     border-left:2px solid $light_grey;
     display:flex;padding:15px;
     align-items:flex-end;
     textarea
     {
       border: 1px solid $blue;
       width: 100%;
       border-radius: 3px;
     }
     textarea:focus
     {
       outline: none;
     }
     .chating-send-button
     {
       border: 2px solid $blue;
       border-radius: 5px;
       color: $grey;
       background-color: $white;
       padding: 2px 30px;
       margin-left: 15px;
       text-transform: capitalize;
       @media #{$max500-301}
       {
         font-size: 12px;
         padding: 2px 14px;
       }
       @media #{$max300-0}
       {
         font-size: 11px;
         padding: 2px 10px;
       }
     }
  }
}
