$white:#fff;
$grey-font:#7E7E7E;
$blue:#379ED4;

$max300-0:"(min-width:0) and (max-width:300px)";
$max500-301:"(min-width:301px) and (max-width:500px)";
$max768-501:"(min-width:501px) and (max-width:768px)";
$sml-scrn991:"(max-width:991px)";
.courses-hero-section
{
  background-image: url(../images/courses-bg.png);
  background-position: center;
  background-size: cover;
  .courses-opacity
  {
    background-color: rgba(0,0,0,.8);
    color: $white;
    padding: 5%;
    h1
    {
      font-size: 40px;
      @media #{$max768-501}
      {
        font-size: 35px;
      }
      @media #{$max500-301}
      {
        font-size: 30px;
      }
    }
    .courses-flex
    {
      display: flex;
    }
    h2
    {
      text-transform: capitalize;
      font-size: 35px;
      font-weight: bold;
      @media #{$max768-501}
      {
        font-size: 30px;
      }
      @media #{$max500-301}
      {
        font-size: 25px;
      }
    }
    p
    {
      font-size: 22px;
      padding: 15px 5px;
      @media #{$max768-501}
      {
        font-size: 17px;
      }
      @media #{$max500-301}
      {
        font-size: 14px;
      }
    }
    a
    {
      display: inline-block;
      border-radius: 5px;
      margin-left: 8%;
      margin-top: 12px;
    }
  }
}
.courses-heading
{
  text-transform: uppercase;
  font-size: 35px;
  color: $grey-font;
  font-weight: bold;
  @media #{$max768-501}
  {
    font-size: 30px;
  }
  @media #{$max500-301}
  {
    font-size: 25px;
  }
}
.courses-btn-wrapper
{
  display: flex;
  justify-content: center;
}
.view-subject-button
{
  background-color: $blue;
  padding: 7px;
  color: $white;
  text-transform: uppercase;
  font-size: 13px;
  text-decoration: none;
  border: 2px solid $blue;
  margin-top: 30px;
  @media #{$max500-301}
  {
    font-size: 11px;
    padding: 4px 7px;
    margin-top: 15px;
  }
}
.view-subject-button:hover
{
  text-decoration: none;
  color: $white;
}

.course-list-section
{
  padding: 2%;
  .grade-selection-row
  {
    margin-top: 30px;
    .input-selection
    {
      border: 2px solid $blue;
      border-radius: 7px;
      height: 55px;
      text-transform: capitalize;
      color: $grey-font;
      font-size: 25px;
      font-weight: lighter;
      -webkit-appearance: none;
      background: linear-gradient(45deg, transparent 50%, $grey-font 50%),linear-gradient(135deg, $grey-font 50%, transparent 50%);
      background-size: 14px 14px;
      background-repeat: no-repeat;
      background-position: calc(100% - 23px) 20px,calc(100% - 9px) 20px;
      @media #{$max768-501}
      {
        font-size: 20px;
        height: 45px;
        background-size: 13px 13px;
        background-position: calc(100% - 20px) 15px,calc(100% - 7px) 15px;
      }
      @media #{$max500-301}
      {
        font-size: 17px;
        height: 35px;
        background-size: 11px 11px;
        background-position: calc(100% - 25px) 10px,calc(100% - 14px) 10px;
      }
      // @media #{$max768-501}
      // {
      //   font-size: 20px;
      //   height: 45px;
      // }
      // @media #{$max500-301}
      // {
      //   font-size: 17px;
      //   height: 35px;
      // }
      option
      {
        text-transform: capitalize;
        color: $grey-font;
        font-size: 20px;
        margin-top: 10px;
        @media #{$max768-501}
        {
          font-size: 17px;
        }
        @media #{$max500-301}
        {
          font-size: 14px;
        }
      }
    }
    .input-selection:focus
    {
      outline: none;
    }
  }
  button
  {
    margin-top: 30px;
    border-radius: 10px;
    font-size: 20px;
    padding: 7px 15px;
    @media #{$max768-501}
    {
      font-size: 17px;
      padding: 5px 12px;
    }
    @media #{$max500-301}
    {
      font-size: 15px;
      padding: 4px 10px;
      margin-top: 22px;
    }
  }
}
.courses-tab-section
{
  margin-top: 20px;
  .nav-tabs
  {
    border-bottom: 1px solid $blue;
  }
  .nav-tabs > li > a
  {
    text-transform: uppercase;
    font-size: 15px;
    color: $grey-font;

    @media #{$max500-301}
    {
      font-size: 11px;
    }
  }
  .nav-tabs > li > a:hover
  {
    background-color: $blue;
    color: $white;
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
      color: black;
      background-color: $white;
      border: 1px solid $blue;
      border-bottom-color: transparent;
      cursor: default;
      font-weight: bold;
    }
  .tab-content
  {
    margin-top: 50px;
    img
    {
      display: block;
      margin: auto;
    }
  }
  h3
  {
    text-transform: capitalize;
    // color: $grey-font;
    text-align: center;
    font-weight: bold;
    @media #{$max768-501}
    {
      font-size: 20px;
    }
    @media #{$max500-301}
    {
      font-size: 17px;
    }
  }
}
.checkbox-div-wrapper
{
  display:flex;
  justify-content:space-between;
  margin-top: 30px;
  flex-wrap: wrap;
  .check-box-div
  {
    width: 200px;
    margin: 0;
    // @media #{$max500-301}
    // {
    //   margin: auto;
    // }
    .checkbox-text
    {
      text-transform: capitalize;
      font-size: 25px;
      margin-top: -5px;
      @media #{$max768-501}
      {
        margin-top: -1px;
        font-size: 19px;
      }
      @media #{$max500-301}
      {
        margin-top: -1px;
        font-size: 15px;
      }
    }
  }
}
.cant-find-section
{
  padding: 20px 30px;
  margin: 7% 15%;
  display:flex;
  @media #{$max500-301}
  {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    margin: 5% 7%;
  }
  input
  {
    width:100%;
    padding:8px;
    border-radius: 5px;
    border: 2px solid $blue;
    background-color: transparent;
    height: 50px;
    margin-right: 20px;
    @media #{$sml-scrn991}
    {
      height: 40px;
    }
    @media #{$max500-301}
    {
      margin-right: 0;
    }
  }
  ::-webkit-input-placeholder
  {
    text-transform:capitalize;
    color: $grey-font;
    font-size: 17px;
    @media #{$max768-501}
    {
      font-size: 13px;
    }
    @media #{$max500-301}
    {
      font-size: 12px;
    }
  }
  input:focus
  {
    outline: none;
  }
  .course-submit
  {
    background-color: $blue;
    font-size: 25px;
    border-radius: 5px;
    padding: 0px 50px;
    text-transform: capitalize;
    border: 0;
    @media #{$sml-scrn991}
    {
      font-size: 19px;
      padding: 0 30px;
    }
    @media #{$max768-501}
    {
      font-size: 14px;
      padding: 0 15px;
    }
    @media #{$max500-301}
    {
      font-size: 13px;
      padding: 5px 10px;
      margin-top: 15px;
    }
  }
}
