/*variable declaration section*/
$grey:#6D6D6D;
$white:#fff;
$dark_grey:#464646;
$blue:#379ED4;
$navbar-bg:#282828;
$a_border:#3B9FDB;
$white:#fff;
$place_color:#A2A2A2;
$btn_green:#379FD4;
$light_grey:#CBCBCB;
$heading_h:#6D6D6D;
$dark_yelow:#D4A426;
$dark_white:#F7F7F7;
$grey_p:#4F4F4F;
$border_orange:#F45C5D;
$border_green:#99CA57;
$border_blue:#76B5DD;
$light_green:#DAF1FF;
$light_white:#FAFAFA;
$img_border:#989898;
$dark_p:#909090;
$btn_grey:#A6A6A6;
$btn_green2:#64B3DF;
$star_blue:#5890DA;
$textarea_bg:#EFEFEF;
$btn_blue:#3D599A;
$btn_navyble:#007DB7;
$border_green:#8DC6E9;
$bg_addbilling:#F2F6F9;
$light_black:#696969;
$progress_bar:#359ED7;
$border_col:#C6CACD;
$dark_green:#EBF7F8;
$light-blue:#F1F5F9;
$light-white-grey:#E6E6E6;
$h1-green:#7cb242;
$bg-grey:#F4F4F7;


$max300:"(min-width:0) and (max-width:300px)";
$max500:"(min-width:301px) and (max-width:500px)";
$max768:"(min-width:501px) and (max-width:768px)";
$max992:"(min-width:769px) and (max-width:992px)";
$max0_992:"(min-width:0) and (max-width:992px)";
$max1200:"(min-width:993px) and (max-width:1200px)";


.word_color{
  color: $blue;
}
.create-blog-section{
  padding: 4% 8%;
  border-top: 1px solid $blue;
  border-bottom: 1px;
  h2{
    text-transform: uppercase;
    color: $heading_h;
  }
  .create-blog-div{
    border: 1px solid $blue;
    border-radius: 10px;
    padding: 10px;
    .create-entry-div{
      background-color: $bg-grey;
      padding: 1% 2%;
      border-radius: 10px;
      h6{
        text-transform: capitalize;
        color: $heading_h;
        font-size: 18px;
      }
    }
  }
}
