

/*variable declaration section*/
$grey:#6D6D6D;
$white:#fff;
$dark_grey:#464646;
$blue:#379ED4;
$navbar-bg:#282828;
$a_border:#3B9FDB;
$white:#fff;
$place_color:#A2A2A2;
$btn_green:#379FD4;
$light_grey:#CBCBCB;
$heading_h:#6D6D6D;
$dark_yelow:#D4A426;
$dark_white:#F7F7F7;
$grey_p:#4F4F4F;
$border_orange:#F45C5D;
$border_green:#99CA57;
$border_blue:#76B5DD;
$light_green:#DAF1FF;
$light_white:#FAFAFA;
$img_border:#989898;
$dark_p:#909090;
$btn_grey:#A6A6A6;
$btn_green2:#64B3DF;
$star_blue:#5890DA;
$textarea_bg:#EFEFEF;
$btn_blue:#3D599A;
$btn_navyble:#007DB7;
$border_green:#8DC6E9;
$border_col:#C6CACD;


$max300:"(min-width:0) and (max-width:300px)";
$max500:"(min-width:301px) and (max-width:500px)";
$max768:"(min-width:501px) and (max-width:768px)";
$max992:"(min-width:769px) and (max-width:992px)";
$max0_992:"(min-width:0) and (max-width:992px)";
$max1200:"(min-width:993) and (max-width:1200px)";
/*techer-profile-section********************************/
body{
  overflow-x: hidden;
}

.word_color{
  color: $blue;
}
.dark_p{
  color: $dark_p;
}
.description-h3{
  text-transform: capitalize;
  color: $heading_h;
  font-weight: bold;
  @media #{$max300}{
    font-size: 15px;
  }
  @media #{$max500}{
    font-size: 15px;
  }
}


.techer-profile-section{
  background-color: $light_green;
  padding: 0 8%;
  padding-bottom: 50px;
  padding-top: 30px;
  border-top: 1px solid $blue;
  border-bottom: 2px solid $blue;
  @media #{$max300}{
    padding: 10px;
  }
  @media #{$max500}{
    padding: 10px;
  }
  @media #{$max768}{
    padding: 10px;
  }
  .bg-white{
    background-color: $light_white;
    border-radius: 10px;
    padding: 7% 8%;
    padding-top: 10px;
    // padding-bottom: 30px;
    // @media #{$max300}{
    //   padding: 10px;
    // }
    // @media #{$max500}{
    //   padding: 10px;
    // }
    // @media #{$max768}{
    //   padding: 10px;
    // }

    .review-div{
      background-color: $blue;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 15px 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      h3{
        margin: 0;
        text-transform: capitalize;
        color: $white;
        font-weight: bold;
        @media #{$max300}{
          font-size: 10px;
        }
        @media #{$max500}{
          font-size: 15px;
        }
        }
        .icon-star{
          color: $dark_yelow;
          @media #{$max300}{
            font-size: 10px;
          }
          @media #{$max500}{
            font-size: 10px;
          }
        }
        .review-text{
          color: $white;
          font-weight: bold;
          margin-left: 10px;
          @media #{$max300}{
            font-size: 10px;
          }
          @media #{$max500}{
            font-size: 10px;
          }
        }
    }
    .circl-imgdiv{
      // padding: 0 20px;
      padding-top: 3%;
      padding-bottom: 5%;
      .circle-row{
        margin: 0;
        padding: 0;
      }
      .aditya-pic{
        width: 90%;
        border-radius: 100%;
        border: 4px solid $img_border;
        margin-right: 3%;
        position: relative;
        @media #{$max300}{
          margin-right: 0;
        }
        @media #{$max500}{
          margin-right: 0;
        }
      }
      .circle-col{
        padding-left: 5%;
        @media #{$max300}{
          padding: 0;
        }
        @media #{$max500}{
          padding: 0;
        }
      }
      .circle-row:hover{
        .icon-pencil-teacher{
          visibility: visible;
        }
      }
      .icon-pencil-teacher{
        visibility: hidden;
        position: absolute;
        bottom: 5px;
        right: 45px;
        padding: 10px;
        background-color: $dark_grey;
        border-radius: 100%;
        color: $white;
        border: 2px solid $white;
      }
      .aditya-col{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .aditya-h4{
          text-transform: uppercase;
          color: $heading_h;

          @media #{$max300}{
            font-size: 8px;
          }
          @media #{$max500}{
            font-size: 10px;
          }
          @media #{$max500}{
            font-size: 12px;
          }
          .h4-bold{
            font-weight: bold;

          }
        }
        .doller-h4{
          // margin-left: 50%;
          font-weight: bold;
          color: $heading_h;
          @media #{$max300}{
            font-size: 8px;
            margin-left: 10%;
          }
          @media #{$max500}{
            font-size: 10px;
            margin-left: 10%;
          }
          @media #{$max768}{
            margin-left: 10%;
          }
        }
      }
      h5{
        color: $heading_h;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 2%;
        @media #{$max300}{
          font-size: 10px;
        }

        @media #{$max500}{
          font-size: 10px;
        }
      }
      p{
        color: $dark_p;
        @media #{$max300}{
          font-size: 8px;
        }
        @media #{$max500}{
          font-size: 8px;
        }

      }
      .btn-grey{
        padding: 5px 40px;
        border-radius: 5px;
        background-color: $btn_grey;
        text-transform: capitalize;
        color: $white;
        margin-right: 5px;
        margin-top: 10px;
        border: 0;
        @media #{$max300}{
          padding: 2px 5px;
          font-size: 8px;
        }
        @media #{$max500}{
          padding: 2px 5px;
          font-size: 8px;
        }
      }
      .btn-green2{
        padding: 5px 20px;
        border-radius: 5px;
        background-color: $btn_green2;
        text-transform: uppercase;
        color: $white;
        margin-right: 5px;
        margin-top: 20px;
        border: 0;
        @media #{$max300}{
          padding: 2px 5px;
          font-size: 8px;
        }
        @media #{$max500}{
          padding: 2px 5px;
          font-size: 8px;
        }

      }
    }
    .personal-description-div{
      padding-top: 4%;

      .personal-description-border{
        border: 2px solid $border_col;
        background-color: $white;
        padding: 0 30px ;
        padding-top: 1%;
        border-radius: 5px;
        margin-top: 20px;
        p{
          line-height: 2em;
          color: $dark_p;
          font-weight: lighter;
          font-size: 20px;
          @media #{$max300}{
            font-size: 12px;
          }
          @media #{$max500}{
            font-size: 12px;
          }
          @media #{$max768}{
            font-size: 15px;
          }
        }
        li{
          font-size: 25px;
          margin-left: 40px;
          @media #{$max300}{
            margin: 0;
          }
          @media #{$max500}{
            margin: 0;
          }
          @media #{$max768}{
            margin: 0;
          }
          p{
            text-transform: capitalize;
          }
        }
      }
    }
    .testimonial-div{
      .testimonial-border{
        border: 2px solid $dark_white;
        background-color: $white;
        padding: 30px 50px ;
        @media #{$max300}{
          padding: 10px;
        }
        @media #{$max500}{
          padding: 10px;
        }
        .chinese-girl{
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          img{
            border-radius: 100%;
          }
          h5{
            text-transform: capitalize;
            color: $btn_green2;
            margin-top: 20px;
            @media #{$max300}{
              font-size: 10px;
            }
            @media #{$max500}{
              font-size: 12px;
            }
            @media #{$max768}{
              font-size: 15px;
            }
          }
          h6{
            text-transform: capitalize;
            font-weight: bold;
            color:$dark_p;
            font-size: 15px;
          }
          p{
            color: $dark_p;
            font-weight: lighter;
            text-align: right;
            @media #{$max300}{
              font-size: 10px;
            }
            @media #{$max500}{
              font-size: 12px;
            }
          }
          .star-blue{
            color: $star_blue;
            margin-bottom: 20px;
          }
          .star-blue-text{
            font-weight: bold;
            margin-left: 10px;
          }
          .grey-user-icon{
            width: 80px;
            height: 80px;
            border: 3px solid $img_border;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .user-icon{
              font-size: 40px;
              font-weight: bold;
            }

          }

        }
        .heading-underline{
          margin-top: 50px;
          margin-bottom: 50px;
          width: 100%;
          height: 1.5px;
          display: block;

          background: linear-gradient(to right, rgba(179,179,179,0)0%, rgba(179,179,179,.9)35%,rgba(179,179,179,.9)35%,rgba(179,179,179,0)100%);
        }
      }
    }
    .comment-div{
      margin-top: 4%;
      .comment-border{
        border: 2px solid $dark_white;
        background-color: $white;
        padding: 30px;
        @media #{$max300}{
          padding: 10px;
        }
        @media #{$max500}{
          padding: 10px;
        }

        .comment-row{
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          padding: 0 20px;
          @media #{$max300}{
            padding: 0;
          }
          @media #{$max500}{
            padding: 0;
          }

        }
        textarea{
          background-color: $textarea_bg;
          border-radius: 0;
          padding: 15px 0;
          padding-left: 5%;
          margin-top: 5%;

        }
        ::-webkit-input-placeholder{
          color:$dark_p;
          font-weight: bold;
          }
        .alisa-sivazi-col{
          margin-left: 4%;

          h6{
            text-transform: capitalize;
            color: $btn_green;
            font-weight: bold;
            font-size: 20px;

          }
          .like-comment-line{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            @media #{$max300}{
              font-size: 8px;
            }
            @media #{$max500}{
              font-size:8px;
            }
            @media #{$max768}{
              font-size:10px;
            }
            @media #{$max992}{
              font-size:10px;
            }
          }
          .heart-icon-li{
            margin-left: 4%;
            color: $btn_green;
            text-transform: capitalize;
            .heart-icon{
              color: $dark_p;
              margin-right:5px;
              @media #{$max300}{
                font-size: 6px;
              }
              @media #{$max500}{
                font-size: 8px;
              }
              @media #{$max768}{
                font-size: 8px;
              }
              @media #{$max992}{
                font-size: 8px;
              }
            }
          }
        }
      }
    }
    .maps-div{
      border: 2px solid $dark_white;
      margin-top: 4%;
      border-radius: 10px;
      background-color: $white;
      .extra-map-para{
        @media #{$max768}{
          display: none;
        }
        p{
          text-transform: capitalize;
          a{
            text-transform: lowercase !important;
            color: $dark_p;
            background-color: $textarea_bg;
          }
        }
      }
      .mapspara{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 15%;
        padding: 2%;
            border-width: 3px 3px 3px 0;
            border-style: solid;
            -webkit-border-image:
              -webkit-gradient(linear, 0 0, 100% 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
            -webkit-border-image:
              -webkit-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%;
            -moz-border-image:
              -moz-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%;
            -o-border-image:
              -o-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%;
            border-image:
              linear-gradient(to left, black, rgba(0, 0, 0, 0)) 1 100%;
              @media #{$max0_992}{
                border: 0;
                margin-top: 2%;
              }
              @media #{$max300}{
                display: none;
              }
              @media #{$max500}{
                display: none;
              }
        .mapspara-heading{
          text-align: right;
          margin-right: 10px;
          p{
            text-transform: capitalize;
            color: $dark_p;
            font-weight: bold;
            line-height: 2em;
            font-size: 15px;
          }
        }
        .maps-para-right{
          p{
            text-transform: capitalize;
            color: $dark_p;
            line-height: 2em;
            font-size: 15px;
          }
          a{
            color: $dark_p;
            background-color: $textarea_bg;
            padding: 5px 10px;
          }
          .copy-link{
            color: $btn_green;
            margin-top: 10px;
          }
        }
      }
      h2{
        text-transform: capitalize;
        color: $heading_h;
        font-weight: bold;
      }
      #map{

         width:60%;
         height:200px;
         background-color:yellow;
         border: 1px solid $dark_p;
         margin-left: 110px;
         margin-top: 30px;
         margin-bottom: 30px;
         @media #{$max0_992}{
           width: 100%;
           margin-left: 0;
         }

      }
      button{
        color: $white;
        border-radius: 10px;
        border: 0;
        padding: 5px 0;
        padding-left: 10px;
        padding-right: 30px;
        margin-right: 5px;
        text-transform: capitalize;
        margin-top: 10px;
        margin-bottom: 20px;
        .fa{
          color: $white;

          border-right: 1px solid $dark_grey;
          margin-right: 30px;
          padding-right: 10px;
          font-size: 20px;
        }
      }
      .btn-blue{
        background-color: $btn-blue;
      }
      .btn_twitter{
        background-color: $btn_green;
      }
      .btn-navyblue{
        background-color: $btn_navyble;
      }
    }
  }
}
.mapspara-setting{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 15%;
  padding: 2%;
        @media #{$max0_992}{
          border: 0;
          margin-top: 2%;

        }
        @media #{$max300}{
          display: none;
        }
        @media #{$max500}{
          display: none;
        }


  .mapspara-heading{
    text-align: right;
    margin-right: 10px;
    p{
      text-transform: capitalize;
      color: $dark_p;
      font-weight: bold;
      line-height: 2em;
      font-size: 15px;
    }
  }
  .maps-para-right{
    p{
      text-transform: capitalize;
      color: $dark_p;
      line-height: 2em;
      font-size: 15px;
    }
    a{
      color: $dark_p;
      background-color: $textarea_bg;
      padding: 5px 10px;
    }
    .copy-link{
      color: $btn_green;
      margin-top: 10px;
    }
  }
}
.maps-div-teacher{
  border: 2px solid $dark_white;
  margin-top: 20px;
  border-radius: 10px;
  background-color: $white;
  .extra-map-para{
    @media #{$max768}{
      display: none;
    }
    p{
      text-transform: capitalize;
      a{
        text-transform: lowercase !important;
        color: $dark_p;
        background-color: $textarea_bg;
      }
    }
  }
  .mapspara{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 15%;
    // padding: 2%;
        border-width: 3px 3px 3px 0;
        border-style: solid;
        -webkit-border-image:
          -webkit-gradient(linear, 0 0, 100% 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
        -webkit-border-image:
          -webkit-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%;
        -moz-border-image:
          -moz-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%;
        -o-border-image:
          -o-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%;
        border-image:
          linear-gradient(to left, black, rgba(0, 0, 0, 0)) 1 100%;
          @media #{$max0_992}{
            border: 0;
            margin-top: 2%;
          }
          @media #{$max300}{
            display: none;
          }
          @media #{$max500}{
            display: none;
          }
    .mapspara-heading{
      text-align: right;
      margin-right: 10px;
      p{
        text-transform: capitalize;
        color: $dark_p;
        font-weight: bold;
        line-height: 2em;
        font-size: 15px;
      }
    }
    .maps-para-right{
        p{
        text-transform: capitalize;
        color: $dark_p;
        line-height: 2em;
        font-size: 15px;
      }
      a{
        color: $dark_p;
        background-color: $textarea_bg;
        padding: 5px 10px;
      }
      .copy-link{
        color: $btn_green;
        margin-top: 10px;
      }
    }
  }
  h2{
    text-transform: capitalize;
    color: $heading_h;
    font-weight: bold;
  }
  #map{
     width:60%;
     height:200px;
     background-color:yellow;
     border: 1px solid $dark_p;
     margin-left: 110px;
     margin-top: 30px;
     margin-bottom: 30px;
     @media #{$max0_992}{
       width: 100%;
       margin-left: 0;
     }
  }
  button{
    color: $white;
    border-radius: 10px;
    border: 0;
    padding: 5px 0;
    padding-left: 10px;
    padding-right: 30px;
    margin-right: 5px;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 20px;
    .fa{
      color: $white;
      border-right: 1px solid $dark_grey;
      margin-right: 30px;
      padding-right: 10px;
      font-size: 20px;
    }
  }
  .btn-blue{
    background-color: $btn-blue;
  }
  .btn_twitter{
    background-color: $btn_green;
  }
  .btn-navyblue{
    background-color: $btn_navyble;
  }
}
.row1000{
  @media #{$max300}{
    display: none;
  }
  @media #{$max500}{
    display: none;
  }
}
.icon-pencil{
  visibility: hidden;
  margin-left: 5px;
  color: $dark_p;
  font-size: 15px !important;
}
.personal-description-div:hover{
  .icon-pencil{
    visibility: visible;
  }
}
.aditya-col:hover{
  .icon-pencil{
    visibility: visible;
  }
}
.techer-profile-section .bg-white .circl-imgdiv h5:hover{
  .icon-pencil{
    visibility: visible;
  }
}
.techer-profile-section .bg-white .circl-imgdiv p:hover{
  .icon-pencil{
    visibility: visible;
  }
}
.btn-grey2:hover{
  .icon-pencil{
    visibility: visible;
  }
}
.modal-content{
  p{
    color: $place_color;
    font-weight: bold;
  }
  .modal-header{
    padding:1% 3%;
    background-color: $light_white;

  }
  .close{
    color: $blue;
    font-size: 30px;
    font-weight: lighter;
  }
  .modal-body{
    padding:3% 3%;
    .form-group{
      margin-bottom: 3%;
    }
    ::-webkit-input-placeholder{
      color: $place_color;
    }
    label{
      color: $place_color;
    }
  }
  .personal-description-modal{
    // padding: 2%;
    .personal-description-para{
      display: flex;
      justify-content: flex-end;
      a{
        text-decoration: none;
      }
    }
    ul{
      padding: 0;
      margin-left: 2%;
      li{
        color: $place_color;
      }
    }
    textarea{
      width: 100%;
      display: block;
      border-radius: 5px;
      border: 2px solid $btn_green;
    }
    textarea:focus{
      outline: none;
    }
  }
  .modal-div{
    border-radius: 5px;
    margin-top: 3%;
    border: 2px solid $btn_green;
    padding: 0 2%;
    padding-top: 1%;
    padding-bottom:10%;

  }
  button{
    text-transform: capitalize;
    padding: 4px 25px;
    border-radius: 5px;
    margin-top: 3%;

  }
  .save-btn{
    background-color: $blue;
    color: $white;
    border: 0;
  }
  .cancel-btn{
    color: $blue;
    background-color: transparent;
    border: 0;
  }
  .addmore-btn{
    border: 2px solid $blue;
    background-color: transparent;
    color: $place_color;
  }

}
.modal-lg{
  width: 85%;
}
