/*variable declaration section*/
$grey:#6D6D6D;
$white:#fff;
$dark_grey:#464646;
$blue:#379ED4;
$navbar-bg:#282828;
$a_border:#3B9FDB;
$white:#fff;
$place_color:#A2A2A2;
$btn_green:#379FD4;
$light_grey:#CBCBCB;
$heading_h:#6D6D6D;
$dark_yelow:#D4A426;
$dark_white:#F7F7F7;
$grey_p:#4F4F4F;
$border_orange:#F45C5D;
$border_green:#99CA57;
$border_blue:#76B5DD;


$max300:"(min-width:0) and (max-width:300px)";
$max500:"(min-width:301px) and (max-width:500px)";
$max768:"(min-width:501px) and (max-width:768px)";
$max992:"(min-width:769px) and (max-width:992px)";
$max0_992:"(min-width:0) and (max-width:992px)";
$max1200:"(min-width:993) and (max-width:1200px)";
.select-need-hidden{
  @media #{$max768}{
    display: none;
  }
}
.select-need-hidden500{
  @media #{$max300}{
    display: none;
  }
  @media #{$max500}{
    display: none;
  }
}

.need-discussion-row{
  padding: 0 30px;
  @media #{$max768}{
    padding: 0 0;
  }
  @media #{$max992}{
    padding: 0 0;
  }
}
.need-discuss-div{
  margin-top: 10%;
  border: 1px solid $white;
  box-shadow: 2px 2px 2px 2px $light_grey;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  height: 420px;
  position: relative;
  img{
    position: absolute;
    top: 5%;
    width: 30%;
    
  }
  h4{
    font-size: 20px;
    text-align: center;
    position: absolute;
    top:30%;
    color: $heading_h;
    @media #{$max0_992}{
      font-size: 20px;
    }
  }
  p{
    font-size: 18px;
    text-align: center;
    line-height: 2em;
    position: absolute;
    top: 45%;
    color: $light_grey;
    @media #{$max0_992}{
      font-size: 14px;
    }
  }
}


body{
  overflow-x: hidden;
}

.all-row-margin{
  margin: 20px;
}
.heading-h2{
  text-transform: uppercase;
  color: $heading_h;
  font-weight: bold;
  text-align: center;
  @media #{$max300}{
    font-size: 10px;
  }
  @media #{$max500}{
    font-size: 15px;
  }
}
.word_color{
  color: $blue;
}
.style-p{
  text-align: center;
  text-transform: uppercase;
  color: $light_grey;
  @media #{$max300}{
    font-size: 8px;
  }
  @media #{$max500}{
    font-size: 10px;
  }
}
.btn_greendiv{
  display: flex;
  justify-content: center;
  .btn_green{
    background-color: $btn_green;
    padding: 8px 14px;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    color: $white;
    @media #{$max300}{
      font-size: 10px;
      padding: 6px 10px;
    }
    @media #{$max500}{
      font-size: 15px;
      padding: 6px 10px;
    }
  }
}
.shadow-btn{
  background-color: $white;
  padding: 5px 20px;
  border: 0;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 3px $light_grey;
  border: 2px solid $blue;
  color: $heading_h;
}
.shadow-btn:focus{
  outline: none;
}
.wiki-form-section{
  background-image: url('../images/1-01.png');
  background-position: center;
  background-size: cover;
  color: $white;
  padding-bottom: 5%;
  .home-h1{
    text-transform: uppercase;
    text-align: center;
    margin-top: 7%;
    padding-bottom: 2%;
    @media #{$max300}{
      font-size: 10px;
    }
    @media #{$max500}{
      font-size: 15px;
    }
    @media #{$max768}{
      font-size: 20px;
    }
  }
  input{
    width: 100%;
    height: 40px;
    @media #{$max300}{
      height: 30px;
    }
    @media #{$max500}{
      height: 30px;
    }
  }
  ::-webkit-input-placeholder{
    padding-left:20px;
    text-transform: capitalize;
    font-size: 20px;
    @media #{$max300}{
      font-size: 10px;
    }
    @media #{$max500}{
      font-size: 10px;
    }
    @media #{$max768}{
      font-size: 15px;
    }
    @media #{$max992}{
      font-size: 15px;
    }
  }
  select{
    height: 40px;
    border-radius: 0;
    text-transform: capitalize;
    color: $place_color;
    font-size: 20px;
    @media #{$max300}{
      font-size: 10px;
      height: 30px;
    }
    @media #{$max500}{
      font-size: 10px;
      height: 30px;
    }
    @media #{$max768}{
      font-size: 15px;
    }
    @media #{$max992}{
      font-size: 15px;
    }
  }
  .select-row{
    margin-top: 5%;
  }
  button{
    margin-top: 7%;
  }

}


/* popular section*/
.popular-course-section{
  text-align: center;
  padding-top: 4%;

  .circle-green-border{
    width: 97px;
    height: 97px;
    border-radius: 100%;
    border: 2px solid $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 25%;
    @media #{$max300}{
      height: 87px;
      width: 87px;
    }
    @media #{$max500}{
      height: 87px;
      width: 87px;
      }
    .circle-green{
      width: 90px;
      height: 90px;
      border-radius: 100%;
      border: 1px solid $blue;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      @media #{$max300}{
        height: 80px;
        width: 80px;
      }
      @media #{$max500}{
        height: 80px;
        width: 80px;
        }

    }

  }
  .arrow-icon-div{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      text-align: center;
      margin-top: 10px;
      margin-left: 5px;
      @media #{$max300}{
        margin-top: 0;
      }
      @media #{$max500}{
        margin-top: 0;
        }
    }
  }
  h6{
    text-transform: uppercase;
    color: $heading_h;
    font-weight: bold;
    margin-top: 10%;
    @media #{$max300}{
      font-size: 6px;
    }
    @media #{$max500}{
      font-size: 6px;
      }
  }
  button{
    margin: 5% 0;
  }

}

/*select-teacher-section**/
.select-teacher-section{
  text-align: center;
  .teacher-selection-div{
    background-image: url('../images/2-011.png');
    background-position: center;
    background-size: cover;
    .img-opcity{
      background-color: rgba(52, 55, 60, .6);
      padding-bottom: 5%;

      .img-thumbnail{
        padding:0 25px ;
        padding-top: 25px;
        padding-bottom: 10px;
        margin: 15% 0;

        .star-div{
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 5%;
          h6{
            text-transform: capitalize;
            margin-right: 5px;
            // @media #{$max300}{
            //   font-size: 6px;
            //   margin-right: 0;
            //
            // }
            // @media #{$max500}{
            //   font-size: 6px;
            //   margin-right: 1px;
            // }

          }

          }


          .star-dark{
            color: $dark_yelow;
            // @media #{$max300}{
            //   font-size: 2px;
            //
            //
            // }
            // @media #{$max500}{
            //   font-size: 5px;
            //
            // }
          }

        }
        .teacher-pic{
          position: relative;
          transition: all 5s ease-in-out;
        }

        .light-blackdiv{
          width: 100%;
          height: 50px;
          background-color: rgba(0, 0, 76, .1);
          bottom: 0;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
          padding: 5px;
          visibility: hidden;
          @media #{$max300}{
            height: 20px;
          }
          @media #{$max500}{
            height: 30px;
          }
          h3{
            color: $blue;
            text-transform: uppercase;
            font-size: 20px;
            // line-height: 50px;
            margin: 0;
            @media #{$max300}{
              font-size: 10px;
            }
            @media #{$max500}{
              font-size: 15px;
            }

          }
        }
      }
      .img-thumbnail:hover{
        transition: all 2s ease-in-out;
        .light-blackdiv{
          visibility: visible;

        }
      }
    }

}
/*wiki-lesson-work*/
.wiki-lesson-work{
  margin-bottom: 80px;
  .lesson-work-row{
    margin: 0 20px;
    margin-top: 110px;
    @media #{$max300}{
      margin-left:0;
      margin-right: 0;
    }
    @media #{$max500}{
      margin-left: 0;
      margin-right: 0;
    }
  }
  .contain{
    display: flex;
    justify-content: center;
    // height: 600px;
    align-items: center;
    .details{
      flex-grow: 2;
    }
    .mydiv{
      flex-grow: 2.5;
      background-image: url('../images/6-01.png');
      background-size: cover;
      background-position: center;
      height: 300px;
      position: relative;
      display: flex;
      .status{
        position: absolute;
        top:-20%;
        right: 80%;
        width: 100%;
        height: 300px;
        background-color: $dark_white;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 0 20px;
        padding-top: 20px;
        @media #{$max300}{
          padding: 0;
        }
        @media #{$max500}{
          padding: 0;
        }

      }

    }

  }

  .nextdiv{
    flex-grow: 2.5;
    background-image: url('../images/7-01.png');
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
    display: flex;
    .status{
      position: absolute;
      top:-20%;
      left: 80%;
      width: 100%;
      height: 300px;
      background-color: $dark_white;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 0 20px;
      padding-top: 20px;
      @media #{$max300}{
        padding: 0;
      }
      @media #{$max500}{
        padding: 0;
      }

    }

  }
  .third-div{
    flex-grow: 2.5;
    background-image: url('../images/7-01.png');
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
    display: flex;
    .status{
      position: absolute;
      top:-20%;
      right: 80%;
      width: 100%;
      height: 300px;
      background-color: $dark_white;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 0 20px;
      padding-top: 20px;
      @media #{$max300}{
        padding: 0;
      }
      @media #{$max500}{
        padding: 0;
      }


    }

  }
  .fourth-div{
      flex-grow: 2.5;
      background-image: url('../images/9-01.png');
      background-size: cover;
      background-position: center;
      height: 300px;
      position: relative;
      display: flex;
      .status{
        position: absolute;
        top:-20%;
        left: 80%;
        width: 100%;
        height: 300px;
        background-color: $dark_white;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 0 20px;
        padding-top: 20px;
        @media #{$max300}{
          padding: 0;
        }
        @media #{$max500}{
          padding: 0;
        }

      }

    }
  .orange-border{
    border-bottom: 4px solid $border_orange;
  }
  .green-border{
    border-bottom: 4px solid $border_green;
  }
  .blue-border{
    border-bottom: 4px solid $border_blue;
  }

}
.lesson-work-para{
  padding-left: 38px;
  padding-right: 64px;
  padding-top:10px;
  padding-bottom: 20px;
  @media #{$max0_992}{
    padding: 0;
  }

  h3{
    text-transform: uppercase;
    color: $heading_h;
    @media #{$max0_992}{
      font-size: 15px;
    }
  }
  p{
    color: $grey_p;
    line-height: 2em;
    font-size: 18px;
    @media #{$max300}{
      font-size: 10px;
    }
    @media #{$max500}{
      font-size: 10px;
    }
    @media #{$max768}{
      font-size: 10px;
    }
    @media #{$max992}{
      font-size: 10px;
    }

  }

}
#orangediv{
  margin: 0;
  @media #{$max300}{
    margin-top: -5px;
    margin-left: 1px;

  }
  @media #{$max500}{
    margin-top: -5px;
    margin-left: 1px;

  }
}
.wiki-form-section2{
  background-image: url('../images/1-011.png');
  background-position: center;
  background-size: cover;
  color: $white;
  padding-bottom: 15%;
}
