$light-green: #D5EFFF;
$blue:#379ED4;
$white:#fff;
$dark_grey:#464646;
$friend-info-grey:#F4F4F7;
$light-grey: #E5E5E5;
$black:#000;
$radio-button-grey: #AAAAAA;
$grey-font:#7E7E7E;
$facbook-btn-color:#404D9A;
$twitter-btn-color:#4AA2F2;
$link-btn-color:#00446F;
$max300-0:"(min-width:0) and (max-width:300px)";
$max500-301:"(min-width:301px) and (max-width:500px)";
$max768-501:"(min-width:501px) and (max-width:768px)";
$sml-scrn991:"(max-width:991px)";
$max1200-992: "(max-width:1200px) and (min-width:992px)";
$max991: "(max-width:991px)";


.invite-friend-section
{
  background-color: $light-green;
  padding: 3% 0;
  p
  {
    font-size: 18px;
    font-weight: lighter;
    color: $grey-font;
    @media #{$max768-501}
    {
      font-size: 16px;
    }
    @media #{$max500-301}
    {
      font-size: 13px;
    }
    @media #{$max300-0}
    {
      font-size: 11px;
    }
  }
  .friend-info
  {
    padding: 5%;
    position: relative;
    h2
    {
      color: $grey-font;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 23px;
      margin-bottom: 20px;
      @media #{$max768-501}
      {
        font-size: 20px;
      }
      @media #{$max500-301}
      {
        font-size: 17px;
      }
      @media #{$max300-0}
      {
        font-size: 14px;
      }
    }
  }
}

// .blue-panel-heading
// {
//   width: 100%;
//   height: 90px;
//   background-color: $blue;
//   border-top-left-radius: 10px;
//   border-top-right-radius: 10px;
//   padding: 0 6%;
//   display: flex;
//   justify-content: space-between;
//   h1
//   {
//     color: $white;
//     text-transform: capitalize;
//     font-weight: bold;
//     font-size: 35px;
//     display: inline-block;
//     margin-top: 25px;
//     @media #{$max768-501}
//     {
//       font-size: 25px;
//     }
//     @media #{$max500-301}
//     {
//       font-size: 20px;
//     }
//     @media #{$max300-0}
//     {
//       font-size: 16px;
//     }
//   }
//   .panel-img-div
//   {
//
//   }
// }
.grey-div
{
  // margin: 4% 3%;
  // border-radius: 15px;
  padding: 7%;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
  h3
  {
    text-transform: uppercase;
    color: $grey-font;
    font-size: 27px;
    @media #{$max768-501}
    {
      font-size: 25px;
    }
    @media #{$max500-301}
    {
      font-size: 20px;
    }
    @media #{$max300-0}
    {
      font-size: 16px;
    }
  }
  .label-style
  {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: lighter;
    display: inline-block;
    @media #{$max500-301}
    {
      font-size: 13px;
    }
    @media #{$max300-0}
    {
      font-size: 10px;
    }
  }
  .blue-underline::after
  {
    content: "";
    display: inline-block;
    background-color: $blue;
    height: 1px;
    width: 80%;
    margin-bottom: 13px;
  }
}
.two-input-div
{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:20px;
  margin-left:-9%;
  margin-right:-9%;
  text-align: center;
}
.input-div
{
  background-color: $white;
  padding: 2px;
  border-radius: 5px;
  margin-right: 10px;
  input
  {
    border: 1px solid $friend-info-grey;
    border-radius: 5px;
    width: 100%;
    padding: 7px 5px;
  }
  input:focus
  {
    outline: 0;
  }
}

.blue-circle
{
  position:absolute;
  left: -9%;
  top: 18%;
  border:5px solid $white;
  background-color:$blue;
  display:block;
  width: 70px;
  height: 70px;
  border-radius:100%;
  color:white;
  text-align:center;
  line-height: 60px;
  font-size: 30px;
  @media #{$max500-301}
  {
    width: 50px;
    height: 50px;
    line-height: 40px;
  }
  @media #{$max300-0}
  {
    width: 40px;
    height: 40px;
    line-height: 30px;
  }
}
.radio-button-container
{
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
  margin-top:20px;
}
.radio-button-div
{
  color: $grey-font;
  display: block;
  position: relative;
  float: left;
  margin-top: 7px;
  input[type=radio]{
    position: absolute;
    visibility: hidden;
  }
  label{
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 1px 15px 21px 40px;
    margin: -2px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;

    @media #{$max768-501}
    {
      font-size: 1.2em;
    }
    @media #{$max500-301}
    {
      padding: 1px 1px 1px 47px;
      margin: 0;
      font-size: 1em;
    }
    @media #{$max300-0}
    {
      padding: 1px 1px 1px 47px;
      margin: 0;
      font-size: 1em;
    }
  }
  .check{
    display: block;
    position: absolute;
    border: 1px solid $radio-button-grey;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: 1px;
    left: 0px;
  	z-index: 5;
  	transition: border .25s linear;
  	-webkit-transition: border .25s linear;
  }
  .check::before {
    display: block;
    position: absolute;
  	content: '';
    border-radius: 100%;
    height: 12px;
    width: 12px;
    top: 3px;
  	left: 3px;
    margin: auto;
  	transition: background 0.25s linear;
  	-webkit-transition: background 0.25s linear;
  }

  input[type=radio]:checked ~ .check {
    border: 1px solid  $blue;
  }

  input[type=radio]:checked ~ .check::before{
    background: $blue;
  }
}
.code-topmost-div
{
  display:flex;
  margin-top:30px;
  .code-div
  {
     box-shadow: 3px 7px 8px $radio-button-grey;
     border-radius:5px;
     border:2px solid $black;
     padding:3px;
     .code
     {
        background: linear-gradient(to bottom left, $blue, $white);
        font-size:35px;
        padding:2% 6%;
        letter-spacing:.3em;
        @media #{$max500-301}
        {
          font-size: 27px;
        }
        @media #{$max500-301}
        {
          font-size: 20px;
        }
     }
  }
}

.volume-icon
{
   transform:rotate(-45deg);
   margin-left: 15px;
   font-size: 45px;
   @media #{$max500-301}
   {
     font-size: 35px;
   }
   @media #{$max500-301}
   {
     font-size: 25px;
   }
}
.volume-icon:hover
{
  cursor: pointer;
}
.register-button
{
  font-size: 16px;
  padding: 1% 3%;
  background-color: $white;
  border: 3px solid $blue;
  border-radius: 10px;
  box-shadow: 3px 7px 8px $radio-button-grey;
  position: absolute;
  bottom: 1.5%;
  right: 8%;
  @media #{$sml-scrn991}
  {
    bottom: .5%;
  }
}
.display-flex
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.margin-auto
{
  margin: 0 auto;
}
//style for personal details page-------

.title-selection
{
  background-color: $light-grey;
  border: 1px solid $friend-info-grey;
  border-radius: 5px;
  width: 100%;
  padding: 7px 5px;
}
.title-section:focus
{
  outline: none;
}
.cumpulsory-star
{
  position: absolute;
  right: 5px;
  top: 10px;
}
.padding-v-10
{
  padding-left: 10%;
  padding-right: 10%;
}
.form-margin-left
{
  margin-left: -9%;
  @media #{$max1200-992}
  {
    margin-left: -4%;
  }
  @media #{$max991}
  {
    margin-left: 0;
  }
}
.update-button
{
  font-size: 16px;
  padding: 5px 30px;
  background-color: $white;
  border: 2px solid $blue;
  border-radius: 10px;
}
//-----inperson lesson page styles-----
.inperson-input-wrapper
{
  border: 1px solid $friend-info-grey;
  border-radius: 5px;
  width: 100%;
  padding: 2px 5px;
  display:flex;
  .inperson-input
  {
    border: 0;
  }
  select
  {
    border: 0;
    background-color: $friend-info-grey;
    color: $blue;
    font-size: 14px;
    padding: 1px 3px;
    height: 25px;
    margin: auto;
  }
  select:focus
  {
    outline: none;
  }
}
.inperson-heading
{
  text-transform: uppercase;
  font-weight: bold;
  color: $grey-font;
  font-size: 27px;
  margin-top: 0;
  margin-bottom: 25px;
  @media #{$max768-501}
  {
    font-size: 21px;
  }
  @media #{$max500-301}
  {
    font-size: 20px;
  }
  @media #{$max300-0}
  {
    font-size: 16px;
  }
}
.personal-info-div
{
  padding: 5%;
  margin-bottom: 30px;
}
.label-design
{
  text-transform: uppercase;
  color: $grey-font;
  font-weight: lighter;
  font-size: 18px;
  @media #{$max1200-992}
  {
    font-size: 16px;
  }
  @media #{$sml-scrn991}
  {
    font-size: 15px;
    padding-top: 0 !important;
  }
  @media #{$max768-501}
  {
    font-size: 14px;
  }
  @media #{$max500-301}
  {
    font-size: 13px;
  }
  @media #{$max300-0}
  {
    font-size: 11px;
  }
}
.inperson-submit-button
{
  font-size: 14px;
  padding: 5px 25px;
  background-color: $white;
  border: 2px solid $blue;
  border-radius: 6px;
  margin-top: 20px;
}
.inperson-social-div
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-top: 30px;
    .social-btn
    {
      border-radius: 7px;
      padding: 7px 0px;
      border: 0;
      padding-right: 30px;
      text-transform: capitalize;
      color: $white;
      margin-right: 10px;
      padding-left: 20px;
      margin-bottom: 10px;
      width: 165px;
      @media #{$max500-301}
      {
        width: 115px;
        padding-right: 10px;
        padding-left: 5px;
      }
      @media #{$max300-0}
      {
        width: 115px;
        padding-right: 10px;
        padding-left: 5px;
      }
      .fa
      {
        font-size: 20px;
        border-right: 1px solid $grey-font;
        padding-right: 10px;
        margin-right: 30px;
        @media #{$max500-301}
        {
          margin-right: 4px;
        }
        @media #{$max300-0}
        {
          margin-right: 4px;
        }
      }
    }
  }
  .facbook-btn-bg
  {
    background-color: $facbook-btn-color;
  }
  .twitter-btn-bg
  {
    background-color: $twitter-btn-color;
  }
  .link-btn-bg
  {
    background-color: $link-btn-color;
  }
  .inperson-map-div
  {
    border-top: 1px dotted $dark_grey;
    padding-top: 30px;
    .map-div
    {
      padding: 10px 0;
      border-radius: 7px;
      #inperson-map
      {
        height: 250px;
      }
    }
  }

//teacher registration page styles-----
.dotted-border-bottom
{
  border-bottom:1px dotted $grey-font;
}
.registration-form-wrapper
{
  border-radius: 15px;
  padding: 5% 7%;
  margin-top: 25px;
}
.teacher-register-button-div
{
  display:flex;
  justify-content:flex-end;
}
.teacher-register-button
{
  border: 2px solid $blue;
  border-radius: 15px;
  background-color: $white;
  color: $grey-font;
  padding: 8px 40px;
  font-size: 15px;
  box-shadow: 3px 7px 8px $radio-button-grey;
  @media #{$max500-301}
  {
    font-size: 13px;
    padding: 5px 30px;
  }
  @media #{$max300-0}
  {
    font-size: 11px;
    padding: 5px 30px;
  }
}
.checkbox-label:first-child
{
  padding-bottom: 5px;
}
.checkbox-label
{
  display: flex;
  padding-left: 0 !important;
  .checkbox-custom
  {
    display: none;
  }
  .checkbox-custom + .checkbox-custom-label::before
 {
   content: " ";
   background-color: transparent;
   border: 1px solid $blue;
   display: inline-block;
   vertical-align: middle;
   border-radius: 3px;
   width: 30px;
   height: 25px;
   text-align: center;
   margin-right: 10px;
 }
 .checkbox-custom-label::before{
   cursor: pointer;
 }
 .checkbox-custom:checked + .checkbox-custom-label::before
 {
   content: "\f00c";
   font-family: "FontAwesome";
   background-color: transparent;
   color: $blue;
   font-size: 18px;
   border: 1px solid $blue;
   padding-bottom: 9px;
   border-radius: 3px;
 }
 .checkbox-text
 {
   color: $grey-font;
   font-size: 15px;
   @media #{$max500-301}
   {
     font-size: 13px;
   }
   @media #{$max300-0}
   {
     font-size: 11px;
   }
 }
}
