//color variable declaration---
$grey-font:#7E7E7E;
$blue:#379ED4;
$white:#fff;
$dark-blue:#0f8fd4;
$border-grey:#F4F4F7;
//media query variable-----
$max300-0:"(min-width:0) and (max-width:300px)";
$max500-301:"(min-width:301px) and (max-width:500px)";
$max768-501:"(min-width:501px) and (max-width:768px)";
$max991-767:"(max-width:991px) and (min-width:767px)";
$max1180-990:"(max-width:1180px) and (min-width:990px)";
.border-dark-blue
{
  border-bottom: 7px solid $dark-blue;
}
.login-details-div
{
  padding: 3% 0;
  // border-top: 1px solid $dark-blue;
  margin-top: 4px;
  // border-bottom: 7px solid $dark-blue;
  h1
  {
    font-size: 35px;
    color: $grey-font;
    padding-bottom: 35px;
    margin: 0;
    font-weight: lighter;
    @media #{$max500-301}
    {
      font-size: 27px;
      padding-bottom: 10px;
    }
    @media #{$max300-0}
    {
      font-size: 24px;
      padding-bottom: 10px;
    }
  }
  h2
  {
    text-transform: uppercase;
    color: $grey-font;
    font-size: 25px;
    margin-bottom: 35px;
    @media #{$max500-301}
    {
      font-size: 18px;
    }
    @media #{$max300-0}
    {
      font-size: 15px;
    }
  }
  h3
  {
    text-transform: uppercase;
    color: $grey-font;
    font-size: 20px;
    margin-bottom: 15px;
    @media #{$max500-301}
    {
      font-size: 15px;
    }
    @media #{$max300-0}
    {
      font-size: 13px;
    }
  }
  .login-form-div
  {
    margin: 0 20%;
    @media #{$max1180-990}
    {
      margin: 0 10%;
    }
    @media #{$max991-767}
    {
      margin: 0 10%;
    }
    @media #{$max768-501}
    {
      margin: 0 3%;
    }
    @media #{$max500-301}
    {
      margin: 0;
    }
    @media #{$max300-0}
    {
      margin: 0;
    }
  }
  .login-form-container
  {

    .icon-wrapper
    {
      background-color: $white;
      padding: 3px;
      border-radius: 5px;
      display: inline-block;
      margin-top: 25px;
    }
    .login-icon-div-white
    {
      background-color: $white;
      border-radius: 5px;
      padding: 0px 5px;
      font-size: 30px;
      color: $grey-font;
      border: 1px solid $border-grey;
    }
    .login-icon-div-trans
    {
      background-color: $border-grey;
      border-radius: 5px;
      padding: 0px 8px;
      font-size: 30px;
      color: $grey-font;
      border: 1px solid $border-grey;
    }
    .login-label
    {
      text-transform: uppercase;
      color: $grey-font;
      font-size: 15px;
      font-weight: normal;
      @media #{$max500-301}
      {
        font-size: 12px;
      }
    }
    ::-webkit-input-placeholder
    {
      text-transform: uppercase;
      color: $grey-font;
      font-size: 15px;
    }
    .login-flex
    {
      display: flex;
      .input-flex
      {
        flex: 5;
      }
    }
    .login-option-div
    {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      h2
      {
        text-transform: uppercase;
        color: $grey-font;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 15px;
        @media #{$max500-301}
        {
          font-size: 18px;
        }
        @media #{$max300-0}
        {
          font-size: 15px;
        }
      }
    }
  }

  .forget-link
  {
    color:$blue;
    text-transform: capitalize;
    font-weight: lighter;
    font-size: 15px;
    margin-left: 10px;
    @media #{$max500-301}
    {
      margin-left: 5px;
      font-size: 12px;
    }
    @media #{$max300-0}
    {
      margin-left: 5px;
      font-size: 12px;
    }
  }
  .signup-link
  {
    color:$grey-font;
    text-transform: capitalize;
    font-weight: lighter;
    font-size: 15px;
    margin-left: 10px;
    @media #{$max500-301}
    {
      margin-left: 5px;
      font-size: 12px;
    }
    @media #{$max300-0}
    {
      margin-left: 5px;
      font-size: 12px;
    }
  }

  .login-retrieve-btn
  {
    background-color: $white;
    border: 2px solid $blue;
    border-radius: 7px;
    padding: 7px 12px;
    color: $grey-font;
    font-size: 17px;
    font-weight: normal;
    text-transform: capitalize;
    @media #{$max768-501}
    {
      font-size: 15px;
      padding: 5px 10px;
    }
    @media #{$max500-301}
    {
      font-size: 13px;
      padding: 5px 10px;
    }
  }
}

.login-btn-div
{
  display: flex;
  margin-top: 30px;
  @media #{$max500-301}
  {
    margin-top: 20px;
  }
  .login-btn
  {
    border: 2px solid $blue;
    border-radius: 9px;
    padding: 8px 50px;
    text-transform: capitalize;
    color: $grey-font;
    background-color: $white;
    font-size: 15px;
    @media #{$max500-301}
    {
      padding: 5px 12px;
      font-size: 13px;
    }
    @media #{$max300-0}
    {
      padding: 3px 12px;
      font-size: 12px;
    }
  }
  .checkbox-custom
  {
    opacity: 0;
    position: absolute;
  }
  .checkbox-custom
  {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }
    .checkbox-custom-label
  {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    color: $grey-font;
    font-size: 19px;
    @media #{$max500-301}
    {
      font-size: 12px;
    }

  }

  .checkbox-custom + .checkbox-custom-label::before
  {
    content: " ";
    background-color: white;
    border: 1px solid $blue;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    width: 30px;
    height: 25px;
    text-align: center;
    margin-right: 10px;
  }
  .checkbox-custom-label::before{
    cursor: pointer;
  }
  .checkbox-custom:checked + .checkbox-custom-label::before
  {
    content: "\f00c";
    font-family: "FontAwesome";
    background-color: white;
    color: $blue;
    font-size: 18px;
    border: 1px solid $blue;
    padding-bottom: 9px;
    border-radius: 3px;
}
}
// retrieve login page style---
.login-white-div
{
  padding: 5%;

}
.login-retrieve-form-wrapper
{
  margin: 8%;
  padding: 4%;
  border-radius: 7px;
  @media #{$max500-301}
  {
    margin: 0;
  }
  .margin-5
  {
    margin: 0 25px;
  }
}
.retrieve-para
{
  color: $grey-font;
  font-size: 16px;
  line-height: 1.5em;
  @media #{$max500-301}
  {
    font-size: 13px;
  }
  @media #{$max300-0}
  {
    font-size: 11px;
  }
}
//--register page----
.register
{
  ul
  {
    padding-left: 0;
    list-style: none;
    display: flex;
    margin-top: 5px;
  }
  ul li{
    position: relative;
    float: left;
    margin-right: 15px;
  }

  ul li input[type=radio]{
    position: absolute;
    visibility: hidden;
  }

  ul li label{
    position: relative;
    font-weight: 300;
    padding: 0px 0px 0px 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
  }
  ul li .check{
    display: block;
    position: absolute;
    border: 1px solid $grey-font;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: 0px;
    left: 0px;
  	z-index: 5;
  	transition: border .25s linear;
  	-webkit-transition: border .25s linear;
  }

  ul li .check::before {
    display: block;
    position: absolute;
  	content: '';
    border-radius: 100%;
    height: 12px;
    width: 12px;
    top: 3px;
  	left: 3px;
    margin: auto;
  	transition: background 0.25s linear;
  	-webkit-transition: background 0.25s linear;
  }

  input[type=radio]:checked ~ .check {
    border: 1px solid $blue;
  }

  input[type=radio]:checked ~ .check::before{
    background: $blue;
  }
}
.form-div{
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .form-wrapper
  {
    background-color: $white;

    border-radius: 5px;
    display: inline-block;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-icon-white
  {
    border-radius: 5px;
    color: $grey-font;
    border: 1px solid $border-grey;
    height: 35px;
    padding: 4px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-icon-envelop{
    background-color: $border-grey;
    font-size: 30px;

  }
  .input-width{
    width: 120%;
    input{
      width: 100%;
    }
    input:focus{
      outline: none;
    }
  }
  .label-input-div{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }
  .login-label-div
  {
    text-transform: uppercase;
    color: $grey-font;
    font-size: 15px;
    font-weight: normal;
    @media #{$max500-301}
    {
      font-size: 12px;
    }
  }
  ::-webkit-input-placeholder
  {
    text-transform: uppercase;
    color: $grey-font;
    font-size: 15px;
  }
}
