$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower
/*variable declaration section*/
$grey:#6D6D6D;
$white:#fff;
$dark_grey:#464646;
$blue:#379ED4;
$navbar-bg:#282828;
$a_border:#3B9FDB;
$friend-info-grey:#F4F4F7;
$btn_green:#379FD4;
$li-a:#777;



$max300:"(min-width:0) and (max-width:300px)";
$max500:"(min-width:301px) and (max-width:500px)";
$max768:"(min-width:501px) and (max-width:768px)";
$max992:"(min-width:769px) and (max-width:992px)";
$max0_992:"(min-width:0) and (max-width:992px)";
$max1200:"(min-width:993px) and (max-width:1200px)";

/*navbar section*/
.nav-user-icon{
  border: 1px solid $btn_green;
  border-radius: 100%;
  padding: 3px 5px;
  color: $btn_green;

}
.bell-icon{
  color: $btn_green;
}
.navbar{
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
}
.navbar-top{
  background-color:$navbar-bg;
  padding-top: 15px;
  padding-bottom: 10px;
  .navbar-brand{
    height: 0;
  }
  .navbar-header
  {
    display:inline-block;
    margin-top:5px;
  }
  .navbar-nav
  {
    float:right;
    display: flex;
    margin-top: 7px;
    margin-right:5px;
  }
  .navbar-lock{
    color: $white;
    font-size: 15px;
    margin-top: 1px;
  }
  a{
    color: $white;
    font-size: 15px;
    }
    .navbar-twitter
    {
      margin-left: 13px;
      margin-right: 13px;
    }
    .button{
      background-color: transparent;
      color: $white;
      border-radius: 20px;
      font-size: 8px;
      border: 1px solid $white;
      text-transform: uppercase;
      padding: 2px 12px;
      margin-left: 10px;
      text-decoration: none;
    }
}
.bottom-navbar{
  padding-top: 20px;
  .navbar-username
  {
   text-transform:capitalize;
   margin-left: 5px;
  }
  .navbar-nav{
    a{
      text-transform: uppercase;
      font-weight: bold;
      padding-bottom: 30px;
      padding-left: 0;

      @media #{$max1200}{
        font-size: 12px;
      }
      @media #{$max992}{
        font-size: 9px;
      }

    }
    .active{
      color: $a_border;
    }
    .a-border{

      width: 90%;
      height: 2px;
      background-color: $a_border;
      display: block;
      visibility: hidden;
      }
      li:hover
      {
      .a-border{
        visibility: visible;
      }

      }
  }


  img{
    margin-top: -25px;
    @media #{$max768}{
      margin-top: -36px;
    }
    @media #{$max500}{
      margin-top: -36px;
    }
    @media #{$max300}{
      margin-top: -36px;
    }
  }
}
.footer-div{
  background-color: $grey;
  padding:  4% 0;
  color: $white;
  @media #{$max300}{
    display: none;
  }
  @media #{$max500}{
    display: none;
  }

  ul{
    list-style: none;
    padding-left:  0;
    li{
      text-decoration: none;
      a{
        text-transform: capitalize;
        line-height: 2em;
        color: $white;
        text-decoration: none;
        @media #{$max500}{
          font-size: 9px;
          letter-spacing: 1px;
        }
      }

    }
  }
  .footer-mid-col{

  }
  .footer-rightcol{
    text-align: right;

    a{
      color: $white;
      text-decoration: none;

    }
    p{
      padding-top: 30px;
      padding-bottom: 5px;
      font-size: 20px;
      font-weight: bold;
    }
    .border-tumbler{
      padding: 6px 10px;
      border: 1px solid $white;
      border-radius: 100%;
    }
    .border-twitter{
      padding: 6px 7px;
      border: 1px solid $white;
      border-radius: 100%;
      margin-right: 20px;
    }
    .border-fb{
      margin-right: 20px;
    }
  }
  .footer-h4{
    text-transform: uppercase;
    color: $white;
    @media #{$max768}{
      font-size: 12px;
    }
  }
  .email-a{
    @media #{$max768}{
      font-size: 12px;
    }

}
  }

  .footer-hidden-div{
    background-color: $grey;
    padding:  4% 0;
    color: $white;
    @media #{$max768}{
      display: none;
    }
    .footer-a{
      font-size: 15px;
        @media #{$max300}{
          font-size:9px;
        }
        @media #{$max500}{
          font-size: 11px;
        }
    }

    ul{
      list-style: none;
      padding-left:  0;
      li{
        text-decoration: none;
        a{
          text-transform: capitalize;
          line-height: 2em;
          color: $white;
          text-decoration: none;
          @media #{$max500}{
            font-size: 15px;
            letter-spacing: 1px;
          }
        }

      }
    }
    .footer-mid-col{
      text-align: right;

    }
    .footer-rightcol{
      text-align: right;
      @media #{$max300}{
        text-align: center;
      }
      @media #{$max500}{
        text-align: center;
      }

      a{
        color: $white;
        text-decoration: none;
      }

      p{
        padding-top: 30px;
        padding-bottom: 5px;
        font-size: 20px;
        font-weight: bold;
      }
      .border-tumbler{
        padding: 6px 10px;
        border: 1px solid $white;
        border-radius: 100%;
      }
      .border-twitter{
        padding: 6px 7px;
        border: 1px solid $white;
        border-radius: 100%;
        margin-right: 20px;
      }
      .border-fb{
        margin-right: 20px;
      }
    }
    .footer-h4{
      text-transform: uppercase;
      color: $white;
      @media #{$max768}{
        font-size: 12px;
      }
    }
    .email-a{
      @media #{$max768}{
        font-size: 12px;
      }

  }
    }

.footer-section{
  background-color: $dark_grey;
  padding-top: 20px;
  padding-bottom: 15px;

  color: $white;
  .list-inline > li{
    @media #{$max300}{
      padding-left: 0;
      padding-right: 0;
    }
    @media #{$max500}{
      padding-left: 1px;
      padding-right: 0;
    }
    @media #{$max768}{
      padding-left: 0;
      padding-right: 0;
    }
  }
  a{
    color: $white;
    text-transform: uppercase;

    @media #{$max300}{
      font-size:7px;
    }

    @media #{$max500}{
      font-size:7px;
    }
    @media #{$max768}{
      font-size: 8px;
    }
  }
  .copyright{
    @media #{$max500}{
      display: none;
    }
    @media #{$max300}{
      display: none;
    }
  }
.left-ul{
  display: inline;
  @media #{$max300}{
  text-align: center;
  }
  @media #{$max500}{
    text-align: center;

  }
}
.right-ul{
  float: right;
}

}
.footer-previous-div{
  margin-bottom: 100px;
}

// global style----

.font-blue
{
  color: $blue;
}
.bg-light-grey
{
  background-color: $friend-info-grey;
}
.color-red
{
  color:red;
}
button:focus
{
  outline: none;
}
.margin-top0
{
  margin-top: 0;
}
.margin-top20
{
  margin-top: 3%;
}

.dropdown-menu > li > a {
  display:block;
  padding-bottom: 0;
  margin-left: 10px;
  font-size: 12px;
  padding-bottom: 10px !important;
  color: $li-a;
  font-weight: bold;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;

}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}
.white-triangle{
  position: absolute;
  width: 0;
  height: 0;
  border-right:38px solid $white;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  top:43%;
  left: -38px;
}
.hompage-search-div{
  width: 70%;
  padding: 5px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: red;
  background-color:rgba(51, 153, 102, .3);
  border-radius: 10px;
  input{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 50px !important;
    border: 1px solid $grey;

  }
  .home-search-icon{
    height: 50px;
    background-color: $white;
    font-size: 30px;
    color: $li-a;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    border-right: 1px solid $grey;
  }

}
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.site-content{
  flex: 1;

}
