$white:#fff;
$grey-font:#737373;
$blue:#379ED4;
$red:#FB0000;
$my-teacher-bg:#D5EFFF;
$green:#48C848;
$max300-0:"(min-width:0) and (max-width:300px)";
$max500-301:"(min-width:301px) and (max-width:500px)";
$max768-501:"(min-width:501px) and (max-width:768px)";
$max599: "(max-width:599px)";
$max867: "(max-width:867px)";
$sml-scrn991:"(max-width:991px)";
.my-teacher-hero-section
{
  .green-bg //for online teacher
  {
    background-color: $green;
  }
  .offline-circle // for offline teacher
  {
    border: 2px solid $grey-font;
  }
  h1,h2,h3
  {
    margin: 0;
  }
  input[type=range]
  {
    -webkit-appearance: none;
    background: transparent;
  }
  input[type=range]:focus
  {
    outline: none;
  }
  input[type=range]::-webkit-slider-thumb
  {
    -webkit-appearance:none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: $blue;
    margin-top: -7px;
  }
  input[type=range]::-webkit-slider-runnable-track
  {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background-color: $blue;
    border-radius: 20px;
  }
  ul
  {
    list-style: none;
    padding-left: 0;
    padding-top: 20px;
  }
  //style for radio buttons

ul li{
  color: $grey-font;
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 19px;
  padding: 5px 0px 0px 45px;
  text-transform: uppercase;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  @media #{$max599}
  {
    font-size: 15px;
    padding: 5px 0px 0px 35px;
  }
}

ul li .check{
  display: block;
  position: absolute;
  border: 1px solid $grey-font;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 5px;
  left: 0px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
  @media #{$max599}
  {
    height: 20px;
    width: 20px;
    top: 5px;
    left: 0px;
  }
}

ul li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 13px;
  width: 13px;
  top: 5px;
	left: 5px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
  @media #{$max599}
  {
    height: 12px;
    width: 12px;
    top: 3px;
    left: 3px;
  }
}

input[type=radio]:checked ~ .check {
  border: 1px solid $red;
}

input[type=radio]:checked ~ .check::before{
  background: $red;
}

  .texture-div
  {
    h1
    {
      text-transform: capitalize;
      margin-bottom: 30px;
      @media #{$max599}
      {
        font-size: 25px;
      }
    }
    background-color: $my-teacher-bg;
    border-top: 2px solid $blue;
    border-bottom: 2px solid $blue;
    padding: 25px 35px;
    .buttons-div
    {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 10px;
      background-color: #BEBEBE;
      margin-bottom: 25px;
      select
      {
        background-color: $white;
        text-transform: uppercase;
        font-size: 20px;
        color: $grey-font;
        border: 1px solid $grey-font;
        padding: 10px 25px;
        margin-right: 7px;
        height: 50px;
        @media #{$max867}
        {
          margin-bottom: 10px;
        }
        @media #{$max599}
        {
          width: 200px;
          font-size: 13px;
          padding: 5px 15px;
        }
      }
      select:focus
      {
        outline: none;
      }
      .btn-container
      {
        border: 1px solid $grey-font;
        background-color: $white;
        color: $grey-font;
        height: 50px;
        @media #{$max599}
        {
          width: 200px;
        }
        .fa
        {
          margin: 7px;
        }
        input[type=search]
        {
          border: 0;
          padding: 10px 25px;
          @media #{$max599}
          {
            width: 150px;
            padding: 5px 15px;
          }
        }
        input[type=search]:focus
        {
          outline: none;
        }
        ::-webkit-input-placeholder
        {
          font-size: 20px;
          color: $grey-font;
          text-transform: uppercase;
          @media #{$max599}
          {
            font-size: 13px;
          }
        }
      }
    }
    .my-teacher-body
    {
      background-color: $white;
      margin: 30px 0;
      padding: 40px;
      @media #{$max500-301}
      {
        padding: 20px;
      }
      .row
      {
        .range-div
        {
          margin-bottom: 30px;
          @media #{$max599}
          {
            margin-bottom: 0px;
          }
          h2
          {
            margin-bottom: 25px;
            text-transform: uppercase;
            font-size: 23px;
            @media #{$max599}
            {
              font-size: 18px;
            }
          }
        }
        form{
          color: $grey-font;
          text-transform: uppercase;
          font-size: 20px;
          margin: 25px 0;
          clear: both;
          padding: 50px 0;
          @media #{$max599}
          {
            font-size: 16px;
            margin: 5px 0;
            padding: 30px 0;
          }
        }
      }
      .teacher-profile-side
      {
        border-left: 1px solid $grey-font;
        @media #{$sml-scrn991}
        {
          border-left:none;
          border-top: 1px solid $grey-font;
          padding-top: 20px;
          margin-top: 30px;
        }
        .teacher-div
        {
          padding: 25px;
          border: 2px solid $blue;
          border-radius: 10px;
          margin-bottom: 30px;
          .row
          {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
          }
          .status-div
          {
            display:flex;
            justify-content:center;
            align-items: center;
            margin-top:20px;
            font-size: 19px;
            text-transform: uppercase;
            @media #{$sml-scrn991}
            {
              font-size: 17px;
            }
            @media #{$max599}
            {
              margin-top: 10px;
              margin-bottom: 5px;
              font-size: 15px;
            }
            .online-circle
            {
              width: 20px;
              height: 20px;
              display: inline-block;
              border-radius: 50%;
              margin-right: 10px;
              @media #{$sml-scrn991}
              {
                width: 17px;
                height: 17px;
              }
              @media #{$max599}
              {
                width: 15px;
                height: 15px;
              }
            }
          }

          .name
          {
            margin-bottom: 30px;
          }
          h3
          {
            text-transform: uppercase;
            color: $grey-font;
            font-size: 21px;
            @media #{$sml-scrn991}
            {
              font-size: 19px;
            }
            @media #{$max599}
            {
              font-size: 17px;
            }
          }
          h4
          {
            text-transform: capitalize;
            color: $grey-font;
            margin-bottom: 20px;
            @media #{$sml-scrn991}
            {
              font-size: 18px;
            }
            @media #{$max599}
            {
              font-size: 16px;
            }

          }
          .view-profile-link
          {
            text-transform: capitalize;
            color: $grey-font;
            font-size: 17px;
            @media #{$sml-scrn991}
            {
              font-size: 15px;
            }
            @media #{$max599}
            {
              font-size: 13px;
            }

          }
          .view-profile-link:hover
          {
            color: $blue;
          }
          img
          {
            border-radius: 100%;
          }
          .trial-session-div
          {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 35px 0;
            @media #{$max500-301}
            {
              padding: 10px 0;
            }
            a
            {
              border: 2px solid $blue;
              border-radius: 10px;
              font-size: 18px;
              color: $grey-font;
              text-transform: capitalize;
              padding: 7px;
              text-decoration: none;
              margin-bottom: 10px;
              width: 180px;
              text-align: center;
              @media #{$max867}
              {
                font-size: 15px;
                padding: 6px 12px;
              }
            }
            a:hover{
              background-color: $blue;
              color: $white;
            }
          }
        }
      }
    }
  }
}
