/*variable declaration section*/
$grey:#6D6D6D;
$white:#fff;
$dark_grey:#464646;
$blue:#379ED4;
$navbar-bg:#282828;
$a_border:#3B9FDB;
$white:#fff;
$place_color:#A2A2A2;
$btn_green:#379FD4;
$light_grey:#CBCBCB;
$heading_h:#6D6D6D;
$dark_yelow:#D4A426;
$dark_white:#F7F7F7;
$grey_p:#4F4F4F;
$border_orange:#F45C5D;
$border_green:#99CA57;
$border_blue:#76B5DD;
$light_green:#DAF1FF;
$light_white:#FAFAFA;
$img_border:#989898;
$dark_p:#909090;
$btn_grey:#A6A6A6;
$btn_green2:#64B3DF;
$star_blue:#5890DA;
$textarea_bg:#EFEFEF;
$btn_blue:#3D599A;
$btn_navyble:#007DB7;
$border_green:#8DC6E9;


$max300:"(min-width:0) and (max-width:300px)";
$max500:"(min-width:301px) and (max-width:500px)";
$max768:"(min-width:501px) and (max-width:768px)";
$max992:"(min-width:769px) and (max-width:992px)";
$max0_992:"(min-width:0) and (max-width:992px)";
$max1200:"(min-width:993) and (max-width:1200px)";
/*techer-profile-section********************************/
body{
  overflow-x: hidden;
}

.word_color{
  color: $blue;
}
.dark_p{
  line-height: 1.7em;
  color: $dark_grey;
  font-weight: lighter;
  font-size: 20px;
  @media #{$max300}{
    font-size: 12px;
  }
  @media #{$max500}{
    font-size: 12px;
  }
  @media #{$max768}{
    font-size: 15px;
  }
}
.description-h3{
  text-transform: capitalize;
  color: $heading_h;
  font-weight: bold;
  font-size: 30px;
  @media #{$max300}{
    font-size: 15px;
  }
  @media #{$max500}{
    font-size: 15px;
  }
}
.heading-border-bottom
{
  border-bottom: 1px solid $light_grey;
  padding-bottom: 10px;
  margin-bottom: 25px;
}

.techer-profile-section{
  background-color: $light_green;
  padding: 0 9%;
  padding-bottom: 30px;
  padding-top: 30px;
  border-top: 2px solid $border_green;
  border-bottom: 2px solid $border_green;
  @media #{$max300}{
    padding: 10px;
  }
  @media #{$max500}{
    padding: 10px;
  }
  @media #{$max768}{
    padding: 10px;
  }
  .review-div{
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3{
      font-size: 30px;
      margin: 0;
      text-transform: capitalize;
      color: $heading_h;
      @media #{$max300}{
        font-size: 10px;
      }
      @media #{$max500}{
        font-size: 15px;
      }
      }
      .icon-star{
        color: $dark_yelow;
        font-size: 20px;
        @media #{$max300}{
          font-size: 10px;
        }
        @media #{$max500}{
          font-size: 10px;
        }
      }
      .icon-star:hover
      {
        cursor: pointer;
      }
      .review-text{
        color: $heading_h;
        margin-left: 10px;
        margin-right: 10px;
        @media #{$max300}{
          font-size: 10px;
        }
        @media #{$max500}{
          font-size: 10px;
        }
      }
  }
  .bg-white{
    background-color: $white;
    border: 1px solid $light_grey;
    padding: 0 50px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-top: 20px;
    border-radius: 5px;
    @media #{$max300}{
      padding: 10px;
    }
    @media #{$max500}{
      padding: 10px;
    }
    @media #{$max768}{
      padding: 10px;
    }

    .circl-imgdiv{
      padding: 0 12px;
      padding-top: 2%;
      padding-bottom: 3%;
      .circle-row{
        margin: 0;
        padding: 0;
      }
      .aditya-pic{
        width: 80%;
        border-radius: 100%;
        border: 4px solid $img_border;
        margin-right: 3%;
        @media #{$max300}{
          margin-right: 0;
        }
        @media #{$max500}{
          margin-right: 0;
        }
      }
      .aditya-col{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .aditya-h4{
          text-transform: uppercase;
          color: $heading_h;
          font-size: 27px;
          @media #{$max300}{
            font-size: 8px;
          }
          @media #{$max500}{
            font-size: 10px;
          }
          .h4-bold{
            font-weight: bold;

          }
        }
        .doller-h4{
          margin-left: 50%;
          font-weight: bold;
          color: $heading_h;
          font-size: 27px;
          @media #{$max300}{
            font-size: 8px;
            margin-left: 10%;
          }
          @media #{$max500}{
            font-size: 10px;
            margin-left: 10%;
          }
          @media #{$max768}{
            margin-left: 10%;
          }
        }
      }
      h5{
        color: $heading_h;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 3%;
        font-size: 19px;
        @media #{$max300}{
          font-size: 10px;
        }

        @media #{$max500}{
          font-size: 10px;
        }
      }
      p{
        color: $dark_p;
        font-size: 17px;
        @media #{$max300}{
          font-size: 9px;
        }
        @media #{$max500}{
          font-size: 11px;
        }

      }
      .btn-grey{
        padding: 3px 14px;
        border-radius: 7px;
        background-color: $btn_grey;
        text-transform: capitalize;
        color: $white;
        margin-right: 5px;
        margin-top: 10px;
        border: 0;
        font-size: 17px;
        @media #{$max300}{
          padding: 2px 5px;
          font-size: 8px;
        }
        @media #{$max500}{
          padding: 2px 5px;
          font-size: 8px;
        }
      }

      .more-option
      {
        color: $btn_green2;
        text-transform: capitalize;
        font-size: 18px;
        cursor: pointer;
      }
      .hidden-btn
      {
        display: none;
      }
      .btn-green2{
        padding: 8px 20px;
        border-radius: 9px;
        background-color: $white;
        text-transform: uppercase;
        color: $dark_grey;
        margin-right: 5px;
        margin-top: 20px;
        border: 2px solid $btn_green2;
        box-shadow: 3px 2px 6px 2px $light_grey;
        @media #{$max300}{
          padding: 2px 5px;
          font-size: 8px;
        }
        @media #{$max500}{
          padding: 3px 7px;
          font-size: 9px;
          margin-top: 5px;
        }

      }
    }
    .profile-progress-div
    {
      color: $dark_p;
      .progress
      {
        height: 6px;
        background-color: $btn_grey;
      }
      p
      {
        color: $dark_p;
        font-size: 17px;
        @media #{$max500}
        {
          font-size: 13px;
        }
      }
      .right-worked-history
      {
        text-align:right;
        font-weight: bold;
        h4
        {
          text-transform: capitalize;
          font-size: 25px;
          @media #{$max500}
          {
            font-size: 20px;
          }
        }
      }
    }
  .video-border
  {
    border-top: 1px solid $light_green;
    border-bottom: 1px solid $light_green;
    .video-upload-div
    {
      display: flex;
      justify-content: center;
      padding: 3% 0;
      .video-circle
      {
        display: block;
        width: 54px;
        height: 54px;
        border-radius: 50%;
        border: 2px solid $dark_grey;
        text-align: center;
        line-height: 54px;
        font-size: 35px;
        color: $dark_grey;
        cursor: pointer;
        @media #{$max500}
        {
          width: 37px;
          height: 37px;
          line-height: 37px;
          font-size: 20px;
        }
        .fa
        {
          margin-left: 7px;
          @media #{$max500}
          {
            margin-left: 4px;
          }
        }

      }
      h3
      {
        text-transform: capitalize;
        color: $dark_grey;
        font-size: 25px;
        margin-left: 17px;
        margin-top: 7px;
        font-size: 35px;
        @media #{$max500}
        {
          font-size: 20px;
          margin-left: 13px;
        }
      }
    }
    #video-url
    {
      width: 100%;
      height: 35px;
      border: 1px solid $blue;
      padding: 5px;
      border-radius: 5px;
      display: none;
      margin: 25px 0;
    }
    #video-url:focus
    {
      outline: 0;
    }
    ::-webkit-input-placeholder
    {
      text-transform:capitalize;
      font-size: 17px;
    }
  }

  .overview-div
  {
    margin-top: 30px;
  }
    .personal-description-div{
      // padding-left: 20px;
        p{
          line-height: 1.7em;
          color: $dark_grey;
          font-weight: lighter;
          font-size: 20px;
          margin-bottom: 0;
          @media #{$max300}{
            font-size: 12px;
          }
          @media #{$max500}{
            font-size: 12px;
          }
          @media #{$max768}{
            font-size: 15px;
          }
        }
        ul
        {
          padding-left: 21px;
          li{
            font-size: 25px;
            @media #{$max300}{
              margin: 0;
            }
            @media #{$max500}{
              margin: 0;
            }
            @media #{$max768}{
              margin: 0;
            }
            p{
              text-transform: capitalize;
            }
          }
        }
    }
    .testimonial-div{
      .testimonial-border{
        background-color: $white;
        padding: 30px 0 ;
        @media #{$max300}{
          padding: 10px;
        }
        @media #{$max500}{
          padding: 10px;
        }
        .chinese-girl{
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          img{
            border-radius: 100%;
          }
          h5{
            text-transform: capitalize;
            color: $btn_green2;
            margin-top: 20px;
            font-size: 20px;
            font-weight: bold;
            @media #{$max300}{
              font-size: 10px;
            }
            @media #{$max500}{
              font-size: 12px;
            }
            @media #{$max768}{
              font-size: 15px;
            }
          }
          h6{
            text-transform: capitalize;
            font-weight: bold;
            color:$dark_p;
            font-size: 15px;
          }
          p{
            color: $dark_grey;
            font-weight: lighter;
            @media #{$max300}{
              font-size: 10px;
            }
            @media #{$max500}{
              font-size: 12px;
            }
          }
          .star-blue{
            color: $star_blue;
            margin-bottom: 20px;
          }
          .star-blue:hover{
            cursor: pointer;
          }
          .star-blue-text{
            font-weight: bold;
            margin-left: 10px;
          }
          .grey-user-icon{
            width: 80px;
            height: 80px;
            border: 3px solid $img_border;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .user-icon{
              font-size: 40px;
              font-weight: bold;
            }

          }

        }
        .heading-underline{
          margin-top: 50px;
          margin-bottom: 50px;
          width: 100%;
          height: 1.5px;
          display: block;

          background: linear-gradient(to right, rgba(179,179,179,0)0%, rgba(179,179,179,.9)35%,rgba(179,179,179,.9)35%,rgba(179,179,179,0)100%);
        }
      }
    }
    .maps-div{
      border-radius: 10px;
      background-color: $white;
      .extra-map-para{
        @media #{$max768}{
          display: none;
        }
        p{
          text-transform: capitalize;
          a{
            text-transform: lowercase !important;
            color: $dark_p;
            background-color: $textarea_bg;
          }
        }
      }
      .mapspara{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 15%;
        padding: 2%;
            border-width: 3px 3px 3px 0;
            border-style: solid;
            -webkit-border-image:
              -webkit-gradient(linear, 0 0, 100% 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
            -webkit-border-image:
              -webkit-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%;
            -moz-border-image:
              -moz-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%;
            -o-border-image:
              -o-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%;
            border-image:
              linear-gradient(to left, black, rgba(0, 0, 0, 0)) 1 100%;
              @media #{$max0_992}{
                border: 0;
                margin-top: 2%;
              }
              @media #{$max300}{
                display: none;
              }
              @media #{$max500}{
                display: none;
              }
        .mapspara-heading{
          text-align: right;
          margin-right: 10px;
          p{
            text-transform: capitalize;
            color: $dark_p;
            font-weight: bold;
            line-height: 2em;
            font-size: 15px;
          }
        }
        .maps-para-right{
          p{
            text-transform: capitalize;
            color: $dark_p;
            line-height: 2em;
            font-size: 15px;
          }
          a{
            color: $dark_p;
            background-color: $textarea_bg;
            padding: 5px 10px;
          }
          .copy-link{
            color: $btn_green;
            margin-top: 10px;
          }
          .copy-link:hover{
            cursor: pointer;
          }
        }
      }
      h2{
        text-transform: capitalize;
        color: $heading_h;
        font-weight: bold;
      }
      #map{
         width:100%;
         height:230px;
         background-color:yellow;
         border: 1px solid $dark_p;
         margin-top: 30px;
         margin-bottom: 30px;
         @media #{$max0_992}{
           width: 100%;
           margin-left: 0;
         }

      }
      button{
        color: $white;
        border-radius: 7px;
        border: 0;
        padding: 5px 0;
        padding-left: 10px;
        padding-right: 30px;
        margin-right: 5px;
        text-transform: capitalize;
        margin-top: 10px;
        margin-bottom: 20px;
        @media #{$max768}
        {
          padding-left: 7px;
          padding-right: 20px;
        }
        @media #{$max500}
        {
          padding: 0 4px;
          padding-left: 5px;
          padding-right: 10px;
          border-radius: 5px;
        }
        .fa{
          color: $white;

          border-right: 1px solid $dark_grey;
          margin-right: 30px;
          padding-right: 10px;
          font-size: 20px;
          @media #{$max768}
          {
            margin-right: 17px;
          }
          @media #{$max500}
          {
            font-size: 15px;
            margin-right: 10px;
          }
        }
      }
      .social-link-btns
      {
        display:flex;
        flex-wrap:wrap;
      }
      .btn-blue{
        background-color: $btn-blue;
      }
      .btn_twitter{
        background-color: $btn_green;
      }
      .btn-navyblue{
        background-color: $btn_navyble;
      }
    }
  }
}

.maps-div-teacher{
  border: 2px solid $dark_white;
  margin-top: 20px;
  border-radius: 10px;
  background-color: $white;
  .extra-map-para{
    @media #{$max768}{
      display: none;
    }
    p{
      text-transform: capitalize;
      a{
        text-transform: lowercase !important;
        color: $dark_p;
        background-color: $textarea_bg;
      }
    }
  }
  h2{
    text-transform: capitalize;
    color: $heading_h;
    font-weight: bold;
  }
  button{
    color: $white;
    border-radius: 10px;
    border: 0;
    padding: 5px 0;
    padding-left: 10px;
    padding-right: 30px;
    margin-right: 5px;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 20px;
    .fa{
      color: $white;
      border-right: 1px solid $dark_grey;
      margin-right: 30px;
      padding-right: 10px;
      font-size: 20px;
    }
  }
}

//student profile others view style---
.student-profile-comment
{
  display:flex;
  width: 100%;
  img
  {
    border-radius: 0;
    align-self:flex-start;
  }
  .comments-info-div
  {
    width: 100%;
    margin-left: 20px;
    h4
    {
      margin-top: 0;
      font-size: 20px;
      color: $blue;
      font-weight: bold;
      text-transform: capitalize;
      @media #{$max500}
      {
        font-size: 16px;
      }
    }
    ul
    {
      padding-left: 0;
      li
      {
        display: inline-block;
        margin-right: 10px;
        @media #{$max300}{
          font-size: 12px;
        }
        @media #{$max500}{
          font-size: 12px;
        }
        @media #{$max768}{
          font-size: 15px;
        }
      }
      li:hover
      {
        cursor:pointer;
      }
    }
    textarea
    {
      width: 100%;
      border: 0;
      background-color: $textarea_bg;
      padding-left: 10px;
      padding-top: 10px;
    }
    textarea:focus
    {
      outline: none;
    }
    ::-webkit-textarea-placeholder
    {
      font-size:30px;
      font-weight:bold;
      color: $textarea_bg;
    }
    .comment-btn
    {
      background-color: $blue;
      color: $white;
      border: 0;
      margin-top: 12px;
      text-transform: capitalize;
      border-radius: 3px;
    }
  }
}
.table-col-1{
  width: 18%;
}
.table-col-2{
  width: 25%;
}
.table-col-3{
  width: 20%;
}
.table-col-4{
  width: 28%;
}
