/*variable declaration section*/
$grey:#6D6D6D;
$white:#fff;
$dark_grey:#464646;
$blue:#379ED4;
$navbar-bg:#282828;
$a_border:#3B9FDB;
$white:#fff;
$place_color:#A2A2A2;
$btn_green:#379FD4;
$light_grey:#CBCBCB;
$heading_h:#6D6D6D;
$dark_yelow:#D4A426;
$dark_white:#F7F7F7;
$grey_p:#4F4F4F;
$border_orange:#F45C5D;
$border_green:#99CA57;
$border_blue:#76B5DD;
$light_green:#DAF1FF;
$light_white:#FAFAFA;
$img_border:#989898;
$dark_p:#909090;
$btn_grey:#A6A6A6;
$btn_green2:#64B3DF;
$star_blue:#5890DA;
$textarea_bg:#EFEFEF;
$btn_blue:#3D599A;
$btn_navyble:#007DB7;
$border_green:#8DC6E9;
$bg_addbilling:#F2F6F9;
$light_black:#696969;
$progress_bar:#359ED7;
$border_col:#C6CACD;
$dark_green:#EBF7F8;
$light-blue:#F1F5F9;
$light-white-grey:#E6E6E6;
$h1-green:#7cb242;
$bg-grey:#F4F4F7;


$max300:"(min-width:0) and (max-width:300px)";
$max500:"(min-width:301px) and (max-width:500px)";
$max768:"(min-width:501px) and (max-width:768px)";
$max992:"(min-width:769px) and (max-width:992px)";
$max0_992:"(min-width:0) and (max-width:992px)";
$max1200:"(min-width:993px) and (max-width:1200px)";


.word_color{
  color: $blue;
}
.payment-section{
    background-color: $light_green;
    padding: 5%;
    border-bottom: 1px solid $blue;
    border-top: 1px solid $blue;
    h1{
      text-align: center;
      color: $h1-green;
      font-size: 25px;
      margin-top: 10%;
      margin-bottom: 5%;
      font-weight: bold;
      @media #{$max300}{
        font-size: 15px;
      }
      @media #{$max500}{
        font-size: 15px;
      }
      @media #{$max768}{
        font-size: 15px;
      }
    }
    h2{
      @media #{$max300}{
        font-size: 20px;
      }
      @media #{$max500}{
        font-size: 20px;
      }
      @media #{$max768}{
        font-size: 25px;
      }
    }
    h5{
      text-align: center;
      color: $dark_p;
      font-size: 20px;
      line-height: 2em;
      @media #{$max300}{
        font-size: 12px;
      }
      @media #{$max500}{
        font-size: 12px;
      }
      @media #{$max768}{
        font-size: 15px;
      }
    }
    p{
      font-weight: bold;
      color: $place_color;

      font-size: 18px;
      @media #{$max300}{
        font-size: 12px;
      }
      @media #{$max500}{
        font-size: 12px;
      }
      @media #{$max768}{
        font-size: 12px;
      }
    }
    .payment-body{
    background-color: $white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 5%;
    .setting-heading-h2 {
    text-transform: uppercase;
    color: #6D6D6D;
    font-weight: bold;
      }
      h3{
        text-align: center;
        margin-top: 8%;
        @media #{$max300}{
          font-size: 12px;
        }
        @media #{$max500}{
          font-size: 12px;
        }
        @media #{$max768}{
          font-size: 12px;
        }
      }
      table{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 10px;
        margin-top: 2%;
        .top-tr{
          margin-bottom: 10px;
          background-color: $dark_green;
          td{
            padding: 2% 6%;
            @media #{$max300}{
              padding: 2%;

            }
            @media #{$max500}{
              padding: 2%;

            }

          }

        }


        .blank-tr{
          height: 7px;
          visibility: hidden;
        }
        td{
          color: $place_color;
          font-weight: bold;
          font-size: 20px;
          @media #{$max300}{
            font-size: 10px;
          }
          @media #{$max500}{
            font-size: 10px;
          }
          @media #{$max768}{
            font-size: 12px;
          }
        }
        .left-td{
          width: 10%;
          border-right: 1px solid $border_col;
        }
        .right-td{
          width: 20%;
        }

      }
      .pay-now-div{
        display: flex;
        justify-content: center;
        margin-top: 5%;
        a{
          padding:1.2% 8%;
          background-color: $border_orange;
          font-size: 24px;
          text-decoration: none;
          color: $white;
          border-radius: 30px;;
          text-transform: capitalize;
          box-shadow: 1px 3px 5px $border_orange;
          @media #{$max300}{
            padding:1% 8%;
            font-size: 12px;

          }
          @media #{$max500}{
            padding:1% 8%;
            font-size: 12px;


          }
          @media #{$max768}{
            padding:1% 8%;
            font-size: 20px;


          }
        }
      }
      .terms-condition-div{
        background-color: $bg-grey;
        padding:  3% 5%;
        border-radius: 10px;
        margin-top: 5%;
        h4{
          margin: 0;
        }
        .h4-underline{
          display: block;
          width: 220px;
          height:1px;
          background-color: $border_col;
          margin-bottom: 5%;
          margin-top: 5px;

        }
        .payment-p{
          text-transform: uppercase;
        }
        p{
          line-height: 2em;
        }

      }
      .home-btn-div{
        display: flex;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 10%;
        a{
          padding:1% 6%;
          background-color: $dark_white;
          border-radius: 25px;
          text-transform: capitalize;
          font-size: 20px;
          text-decoration: none;
          color: $dark_p;
          box-shadow: 1px 3px 5px $blue;
          @media #{$max300}{
            padding:1% 6%;
            font-size: 11px;
          }
          @media #{$max500}{
            padding:1% 6%;
            font-size: 11px;
          }
          @media #{$max768}{
            padding:1% 6%;
            font-size: 20px;
          }

        }
      }
    }
}
.thank-you-bold{
  font-weight: bold;
}
