/*variable declaration section*/
$grey:#6D6D6D;
$white:#fff;
$dark_grey:#464646;
$blue:#379ED4;
$navbar-bg:#282828;
$a_border:#3B9FDB;
$white:#fff;
$place_color:#A2A2A2;
$btn_green:#379FD4;
$light_grey:#CBCBCB;
$heading_h:#6D6D6D;
$dark_yelow:#D4A426;
$dark_white:#F7F7F7;
$grey_p:#4F4F4F;
$border_orange:#F45C5D;
$border_green:#99CA57;
$border_blue:#76B5DD;
$light_green:#DAF1FF;
$light_white:#FAFAFA;
$img_border:#989898;
$dark_p:#909090;
$btn_grey:#A6A6A6;
$btn_green2:#64B3DF;
$star_blue:#5890DA;
$textarea_bg:#EFEFEF;
$btn_blue:#3D599A;
$btn_navyble:#007DB7;
$border_green:#8DC6E9;
$bg_addbilling:#F2F6F9;
$light_black:#696969;
$progress_bar:#359ED7;
$border_col:#C6CACD;


$max300:"(min-width:0) and (max-width:300px)";
$max500:"(min-width:301px) and (max-width:500px)";
$max768:"(min-width:501px) and (max-width:768px)";
$max992:"(min-width:769px) and (max-width:992px)";
$max0_992:"(min-width:0) and (max-width:992px)";
$max1200:"(min-width:993px) and (max-width:1200px)";

/*******miscelleneous section*******/
body{
  overflow-x: hidden;
}
input[type=checkbox] {

 -ms-transform: scale(2); /* IE */
 -moz-transform: scale(2); /* FF */
 -webkit-transform: scale(2); /* Safari and Chrome */
 -o-transform: scale(2); /* Opera */
  padding: 10px;
}
.checkbox input[type="checkbox"]{
  outline: none;
  border: 1px solid $blue;
}
.setting-heading-h2{
  text-transform: uppercase;
  color: $heading_h;
  font-weight: bold;
  @media #{$max300}{
    font-size: 12px;
  }
  @media #{$max500}{
    font-size: 12px;
  }
  @media #{$max768}{
    font-size: 12px;
  }
  @media #{$max992}{
    font-size: 15px;
  }
}

.word_color{
  color: $blue;
}
.dark_p{
  color: $dark_p;
}
.setting-underline{
  width: 100%;
  display: block;
  height: 1px;
  background: linear-gradient(to right, rgba(179,179,179,0)0%, rgba(179,179,179,.9)35%,rgba(179,179,179,.9)35%,rgba(179,179,179,0)100%);

}
.hidden500{
  @media #{$max300}{
    display: none;
  }
  @media #{$max500}{
    display: none;
  }
}
.hidden768{
    @media #{$max768}{
    display: none;
  }
}
.setting-accounts{
  display: flex;
  justify-content: space-between;

  h3{
    text-transform: capitalize;
    font-weight: bold;
    color: $grey;
    @media #{$max300}{
      font-size: 15px;
    }
    @media #{$max500}{
      font-size: 15px;
    }
    @media #{$max768}{
      font-size: 12px;
    }
  }
}
/*techer-profile-section********************************/


.billing-section{
  background-color: $light_green;
  padding: 5%;
  border-bottom: 1px solid $btn_green;
  border-top: 1px solid $btn_green;
  .billing-div{
    background-color: $white;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    }
    .billing-h2{
      text-transform: capitalize;
      color: $heading_h;
      font-weight: bold;
      @media #{$max300}{
        font-size: 15px;
      }
      @media #{$max500}{
        font-size: 18px;
      }
      @media #{$max768}{
        font-size: 15px;
      }
    }
    ul{
      padding-left: 10px;
      li{
        list-style: none;

        a{
          text-decoration: none;
          text-transform: capitalize;
          color: $place_color;
          line-height: 3em;
          font-weight: bold;
          @media #{$max300}{
            font-size: 9px;
          }
          @media #{$max500}{
            font-size: 9px;
          }
        }

      }
    }
    li:hover{
      border-left: 5px solid $btn_green;
      a{
        color: $btn_green;
        font-size: 20px;
        border-top-right-radius:  5px;
        border-bottom-right-radius:5px;
        background-color: $bg_addbilling;
        padding: 10px 10px;
        @media #{$max300}{
          padding: 6px 1px;
          font-size: 8px;
        }
        @media #{$max500}{
          padding: 6px 2px;
          font-size: 8px;
        }
        @media #{$max768}{
          padding: 6px 2px;
          font-size: 12px;
        }
        @media #{$max992}{
          padding: 6px 2px;
          font-size: 12px;
        }
      }
    }

    .add-billong-div{
      background-color: $bg_addbilling;
      padding:  1% 3% ;
      border-radius: 10px;
      margin-bottom: 4%;
      padding-bottom: 5%;
      .btn-billing{
        border: 2px solid $btn_green;
        padding: 4px 15px;
        text-transform: capitalize;
        background-color: transparent;
        border-radius: 5px;
        font-size: 20px;
        color: $heading_h;
        font-weight: bold;
        @media #{$max768}{
          font-size: 15px;
        }
      }
      .billing-h6{
        text-transform: capitalize;
        color: $btn_green;
        font-weight: bold;
        @media #{$max768}{
        font-size: 8px;
        margin-right: 15px;
        }
      }
      .billing-action{
        display: flex;
        justify-content: space-between;
        padding: 5% 0;
      }
      .input-div{
        width: 100%;
        padding: 2px;
        background-color: $white;
        border-radius: 5px;
        margin-bottom: 15%;
        input{
          width: 100%;
          height: 35px;
          border-radius: 5px;
          border: 1px solid $textarea_bg;
          padding-left: 10px;
          color: $grey_p;
          @media #{$max768}{
          font-size: 10px;
          padding-left: 0;

          }
        }
      }

    }

  }

.billing-section-div{
  display: none;
}
.membership-section-div{
  display: none;
  p{
    margin-top: 2%;
    margin-bottom: 4%;
    color: $place_color;
  }
  h4{
    text-transform: capitalize;
    color: $heading_h;
  }
  .circle-no{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid $place_color;
    font-size: 25px;
    color: $place_color;
    text-align: center;
    line-height: 50px;
  }
}
.contactinfo-section-div{

  h2{
    text-transform: uppercase;
    color: $heading_h;
    @media #{$max300}{
      font-size: 18px;
    }
    @media #{$max500}{
      font-size: 18px;
    }
    @media #{$max768}{
      font-size: 15px;
    }
  }


  .setting-p{
    display: flex;
    justify-content: flex-start;
    .setting-pleft{
      width: 30%;
      text-transform: capitalize;
    }
    .setting-pright{
      width: 70%;
      img{
        border-radius: 100%;
      }
    }
    p{
      color:$place_color;
      line-height: 2.5em;
      @media #{$max768}{
        font-size: 12px;
      }
    }
  }

  .setting-extra-p{
    color:$place_color;
    line-height: 2.5em;
    @media #{$max768}{
      font-size: 12px;
    }
  }
  .btn-contact-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    .btn-contact-info{
      text-transform: capitalize;
      background-color: $white;
      padding: 5px 12px;
      border: 2px solid $btn_green;
      border-radius: 5px;
      color: $place_color;
      box-shadow: 1px 1px 1px $place_color;
    }
  }
  .setting-p2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
    p{
      text-transform: capitalize;
      color: $place_color;
    }
    .setting-pleft2{
      width: 30%;
      text-transform: capitalize;

    }
    .setting-pright2{
      width: 70%;
      text-transform: capitalize;
      background-color: $white;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      textarea{
        border: 2px solid $dark_white;
        border-radius: 5px;
        width: 100%;
        text-transform: capitalize;
        color: $place_color;

      }
      textarea:focus{
        outline: none
      }
    }
    .setting-input{
      width: 70%;
      .input-line{
        display: flex;
        justify-content: flex-start;
        .phone-no-input1{
          background-color: $white;
          padding: 2px;
          border-radius: 5px;
          width: 50px;
          margin-right: 10px;
        }
        .phone-no-input2{
          background-color: $white;
          padding: 2px;
          border-radius: 5px;
        }
      }
      input{
        border: 2px solid $dark_white;
        border-radius: 5px;
        width: 100%;
      }

    }
  }
  .setting-adress{
    margin-bottom: 60px;
  }
  }
  .btn-update-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30%;
    margin-top: 10px;
    margin-bottom: 20px;

    button{
      text-transform: capitalize;
      background-color: $btn_green;
      border: 0;
      color: $white;
      padding: 5px 20px;
      margin-right: 10%;
      border-radius: 5px;
    }
    h3{
      text-transform: capitalize;
    }
  }

  /***get paid section*/
  .getpaid-section-div{
    display: none;
    h2{
      text-transform: uppercase;
      color: $heading_h;
      font-weight: bold;
    }
    .getpaid-balance{
      display: flex;
      justify-content: flex-start;
      align-items:center;
      h3{
        text-transform: capitalize;
        color: $heading_h;
        font-weight: bold;
        margin-right: 10%;
        @media #{$max300}{
          font-size: 12px;
        }
        @media #{$max500}{
          font-size: 12px;
        }
        @media #{$max768}{
          font-size: 10px;
        }
      }
      button{
        border: 2px solid $btn_green;
        border-radius: 5px;
        padding: 3px 20px;
        text-transform: capitalize;
        background-color: transparent;
        color: $heading_h;
        font-weight: bold;
        @media #{$max300}{
          padding: 3px 5px;
          font-size: 15px;
        }
        @media #{$max500}{
          padding: 3px 5px;
          font-size: 15px;
        }
        @media #{$max768}{
          padding: 3px 5px;
          font-size: 15px;
        }
      }
    }
    .set-up-payment{
      border: 1px solid $place_color;
      text-align: center;
      background-color: $dark_white;
      padding: 2% 0;
      border-radius: 5px;
      button{
        background-color: $btn_green;
        text-transform: capitalize;
        color: $white;
        border: 0;
        padding: 3px 20px;

      }
      p{
        color: $place_color;
        margin-top: 2%;
      }
    }

  }
/***change password section*/
.changepassword-section-div{
  display: none;
  h3{
    font-weight: bold;
    line-height: 1.5em;
    font-size: 15px;
    color: $heading_h;
    @media #{$max768}{
      font-size: 12px;
    }
    @media #{$max992}{
      font-size: 12px;
    }
    @media #{$max1200}{
      font-size: 14px;
    }
  }
  h4{
    color: $place_color;
    font-weight: bold;
    margin: 3% 0;
    @media #{$max768}{
      font-size: 12px;
    }
    @media #{$max992}{
      font-size: 10px;
    }
    @media #{$max1200}{
      font-size: 12px;
    }

  }
  .strong-password{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 3%;
    p{
      margin-left: 10px;
      color: $place_color;
      font-weight: bold;
      @media #{$max768}{
        font-size: 10px;
      }
      @media #{$max992}{
        font-size: 10px;
      }
      @media #{$max1200}{
        font-size: 12px;
      }

    }
  }
  .form-group{
    label{
      text-align: left;
      font-weight: lighter;
      font-size: 19px;
      text-transform: capitalize;
      color: $place_color;

      @media #{$max768}{
        font-size: 10px;
      }
      @media #{$max992}{
        font-size: 11px;
      }
      @media #{$max1200}{
        font-size: 13px;
      }
    }
    .password-input{
      background-color: $white;
      padding: 3px;
      border-radius: 5px;

    }
    button{
      padding: 3px 20px;
      border-radius: 5px;
      border: 0;
      text-transform: capitalize;
      margin-bottom: 20px;
      @media #{$max768}{
        padding: 3px 10px;
      }
    }
    .btn-change{
      color: $white;
      background-color: $btn_green;
      margin-right: 10%;

    }
    .btn-cancel{
      color: $btn_green;
      background-color: transparent;
      font-weight: bold;
    }

  }
}
/*******change security section********/
.changesecurity-section-div{
  display: none;
  h3{
    font-weight: bold;
    font-size: 15px;
    line-height: 1.5em;
    color: $heading_h;
    @media #{$max768}{
      font-size: 12px;
    }
    @media #{$max992}{
      font-size: 12px;
    }
    @media #{$max1200}{
      font-size: 14px;
    }
  }
  h4{
    color: $place_color;
    font-weight: bold;
    margin: 3% 0;
    @media #{$max768}{
      font-size: 12px;
    }
    @media #{$max992}{
      font-size: 10px;
    }
    @media #{$max1200}{
      font-size: 12px;
    }

  }
  .form-group{
    margin-top: 20px;
    .form-label{
     color: $btn_green;
    }

    label{
      text-align: left;
      font-size: 19px;
      font-weight: 200;
      @media #{$max768}{
        font-size: 10px;
      }
      @media #{$max992}{
        font-size: 11px;
      }
      @media #{$max1200}{
        font-size: 13px;
      }
    }
    .password-input{
      background-color: $white;
      padding: 3px;
      border-radius: 5px;
    }
    .petsname{
      border: 0;
      background-color: none;
    }


    select {
      background-color: $bg_addbilling;
      color: $heading_h;
    }
    button{
      padding: 3px 20px;
      border-radius: 5px;
      border: 0;
      text-transform: capitalize;
      margin-bottom: 30px;
      @media #{$max768}{
        padding: 3px 10px;
      }
    }
    .btn-change{
      color: $white;
      background-color: $btn_green;
      margin-right: 10%;

    }
    .btn-cancel{
      color: $btn_green;
      background-color: transparent;
      font-weight: bold;
    }

  }
  .form-p{
    .ghj{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    p{
      margin:0;
      color: $heading_h;
    }
  }
}

.profilesetting-section-div{
  display: none;
  .add-billong-div{
    padding-bottom: 5%;
  }
  .progress-row{
    margin-top: 3%;
    display: flex;
    align-items: flex-start;
  }
.setting-progress-bar{
  display: flex;
  justify-content: flex-start;
}
  p{
    font-weight: bold;
    color: $place_color;
    @media #{$max992}{
      font-size: 10px;
    }
    }

  .progress-p{
    margin-bottom: 8%;
    color: $place_color;
  }
  .progress-bar-div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    p{
      color: $place_color;
      margin-top: 0;
    }
    .progress{
      width: 80%;
      height: 17px;
      border: 2px solid $progress_bar;
      .progress-bar{
        background-color: $progress_bar;
      }
    }
    p{
      font-size: 13px;
      margin-left: 5px;
    }
  }
  .history-percentdiv{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: -9px;
    margin-bottom: 10%;
    .plus-icon{
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      border: 1px solid $btn_green;

      text-align: center;
      .fa{
        color: $btn_green;
        font-size: 20px;
        line-height: 30px;

      }
    }
    p{
      text-transform: capitalize;
      margin-left: 10%;
    }
  }
  .rowexperience{
    display: flex;
    flex-wrap: wrap;
    .lavel-col{
      border: 1px solid $border_col;
      background-color: $white;
      border-radius: 10px;
      text-align: center;
      flex: 1;
      padding: 10px;
      margin: 20px 10px;
      h4{
        text-align: center;
        color: $heading_h;
        text-transform: uppercase;
        font-weight: bold;
        @media #{$max768}{
          font-size: 10px;
        }
        @media #{$max992}{
          font-size: 10px;
        }
      }
      p{
        padding-top: 10%;
        padding: 10px;

      }
    }
  }

  p{
    margin: 3% 0;
  }
  .categories-btndiv{
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
      button{
      width: 160px;
      background-color: $white;
      margin: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 30px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-transform: capitalize;
      color: $heading_h;
      border: 2px solid $border_col;
      .icon-bg{
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: $heading_h;
        margin-right: 10px;
        .fa{
          color: $white;
          line-height: 30px;
        }
      }
    }

    button:hover{
      width: 160px;
      background-color: $white;
      margin: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 30px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-transform: capitalize;
      color: $heading_h;
      border: 2px solid $btn_green;
      .icon-bg{
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: $btn_green;
        margin-right: 10px;
        .fa{
          color: $white;
          line-height: 30px;
        }
      }
    }
    button:focus{
      outline: none;
    }
  }
}
.row1000{
  @media #{$max768}{
    display: none;
  }

}
.row-hidden500{
  @media #{$max500}{
    display: none;
  }
  @media #{$max300}{
    display: none;
  }

}
.categories-row{
  @media #{$max300}{
    display: none;
  }
  @media #{$max500}{
    display: none;
  }
}
.categories-form{
  margin-top: 3%;
  @media #{$max768}{
    display: none;
  }
  .label{
    text-align:left;
    padding-left: 20px;
      margin-bottom: 3%;
      font-size: 18px;
      @media #{$max300}{
        padding-left: 0;
        font-size: 10px;
      }
      @media #{$max500}{
        padding-left: 0;
        font-size: 15px;
      }
  }
  .input-class{
    position: relative;

    background-color: transparent;
    input{
      width: 49% ;
      margin: 0;
      padding: 0;
      border: none;
      outline: none;
      background-color: transparent;
      border: 0;
      line-height: 34px;
    }
  }
  .formdiv-bg{
    background-color: $white;
    padding: 2px;
    border-radius: 5px;
  }
  table{
    width: 100%;
  }
  .no-background-tr{
    display: flex;
    td{
      flex: 1;
    }
  }
  .white-tr{
    width: 100%;
    height: 34px;
      border-radius:5px;
    background-color: $white;
    border: 1px solid $border_col;
  }
}
.notificatin-section-div{
  display: none;
  p{
    color: $place_color;
  }
  .notification-h3{
    text-transform: capitalize;
    font-weight: bold;
    color: $grey;
    @media #{$max768}{
      font-size: 15px;
    }
  }
  h4{
    color: $place_color;
    margin: 20px 0;
    @media #{$max768}{
      font-size: 12px;
    }
  }
  .notification-select{
    background-color: $white;
    padding: 2px;
    border-radius: 5px;
    select.colorMeBlue.noValue,
    select.colorMeBlue option:first-child {
        color: $btn_green;
    }
    select{
      width: 100%;
      height: 34px;
    }

    select.colorMeBlue option:not(:first-child) {
        color: $btn_green;
    }

  }
  .notification-checkbox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    p{
      margin-left: 20px;
    }
  }
  option{
    color: $btn_green;
  }
  .nofication-2ndrow{
    margin-bottom: 25px;
  }
  .interview-procedure-list{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    p{
      margin-left: 20px;
      margin-top: 10px;
      margin-bottom: 10;
      @media #{$max768}{
        font-size: 12px;
      }
    }
  }
  .setting-recruiting{
    display: flex;
    justify-content: space-between;
  }
}
.change-security-checkbox{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  p{
    margin:0;
    padding-left: 20px;
    line-height: 2.5em;
    @media #{$max768}{
      font-size: 12px;
    }
  }
}
