/*variable declaration section*/
$grey:#6D6D6D;
$white:#fff;
$dark_grey:#464646;
$blue:#379ED4;
$navbar-bg:#282828;
$a_border:#3B9FDB;
$white:#fff;
$place_color:#A2A2A2;
$btn_green:#379FD4;
$light_grey:#CBCBCB;
$heading_h:#6D6D6D;
$dark_yelow:#D4A426;
$dark_white:#F7F7F7;
$grey_p:#4F4F4F;
$border_orange:#F45C5D;
$border_green:#99CA57;
$border_blue:#76B5DD;
$light_green:#DAF1FF;
$light_white:#FAFAFA;
$img_border:#989898;
$dark_p:#909090;
$btn_grey:#A6A6A6;
$btn_green2:#64B3DF;
$star_blue:#5890DA;
$textarea_bg:#EFEFEF;
$btn_blue:#3D599A;
$btn_navyble:#007DB7;
$border_green:#8DC6E9;
$bg_addbilling:#F2F6F9;
$light_black:#696969;
$progress_bar:#359ED7;
$border_col:#C6CACD;
$dark_green:#EBF7F8;
$light-blue:#F1F5F9;
$light-white-grey:#E6E6E6;


$max300:"(min-width:0) and (max-width:300px)";
$max500:"(min-width:301px) and (max-width:500px)";
$max768:"(min-width:501px) and (max-width:768px)";
$max992:"(min-width:769px) and (max-width:992px)";
$max0_992:"(min-width:0) and (max-width:992px)";
$max1200:"(min-width:993px) and (max-width:1200px)";

/*******student-profile-section*********/
.student-profile-section{
  background-color:$light_green;
  padding: 1% 4%;
  h1{
    text-transform: uppercase;
    color: $heading_h;
    @media #{$max0_992}{
      font-size: 20px;
    }
  }
  .student-profile-div{
    background-color: $dark-white;
    padding:4% 2%;
    @media #{$max0_992}{
      padding: 7% 1%;
    }
    .personal-description-div{
      background-color: $light-white-grey;

      .personal-description-border{
        border: 10px solid $light-white-grey;
        background-color: $white;
        padding: 0 30px ;
        padding-top: 3%;
        margin-top: 20px;
        @media #{$max0_992}{
          padding: 10px;
        }
        p{
          line-height: 2.5em;
          color: $dark_p;
          font-weight: lighter;
          font-size: 20px;
          @media #{$max0_992}{
            font-size: 12px;
          }

        }

        .student-table{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          flex-wrap: wrap;

          .table-img-flex{
            width: 7%;
            img{
              width: 60px;
              border-radius: 100%;
              margin-top: 80%;
              @media #{$max992}{
                width: 40px;
              }
              @media #{$max1200}{
                width: 50px;
              }
              @media #{$max300}{
                display: none;
              }
              @media #{$max500}{
                display: none;
              }
              @media #{$max768}{
                display: none;
              }
            }
          }
          }

        table{
          text-align: center;

          font-size: 20px;
          @media #{$max300}{
            font-size: 12px;
          }
          @media #{$max500}{
            font-size: 12px;
          }
          @media #{$max768}{
            font-size: 12px;
          }
          @media #{$max992}{
            font-size: 12px;
          }
          .tr-color{
            background-color: $dark_green;

          }
          td{
            color: $heading_h;
            @media #{$max0_992}{
              font-size: 12px;
            }
          }

          th{
            text-transform: capitalize;
              text-align: center;
              margin-bottom: 50px;
          }
          .boder-right-table{
            border-right: 1px solid $border_col;
          }
        }
      }
    }
  }
}
.blank-tr{
  width: 100%;
  height: 30px;
}
.blank-th-tr{
  width: 100%;
  height: 20px;
}
.data-margin{
  display: flex;
  flex-direction: column;
}
.td-bg-white{
  background-color: $white;
  margin: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.td-flex{
  display: flex;
  flex-direction: column;
}
.size-of-no{
  font-size: 15px !important;
  @media #{$max0_992}{
    font-size: 12px;
  }
}
.margin-data-padding{
  padding: 15px 0;
}
.tr-color2{
  background-color: $light-blue;
}
.upcomming-classes-table{
  @media #{$max300}{
    display: none;
  }
  @media #{$max500}{
    display: none;
  }
  @media #{$max768}{
    display: none;
  }
}
.teacher-img{
  width: 70px;
  height: 70px;
  border-radius: 100%;
  @media #{$max300}{
    width: 50px;
    height: 50px;
  }
  @media #{$max500}{
    width: 50px;
    height: 50px;
    }
}
.teacher-name{
  background-color: $dark_green;
  display: flex;
  justify-content:flex-start;
  padding: 0 10px;
  margin-bottom: 10px;
  p{
    margin: 0;
    font-size: 12px !important;
    @media #{$max300}{
      font-size: 10px !important;
    }
    @media #{$max500}{
      font-size: 10px !important;
    }
  }
  .teacher-p{
    color: $blue !important;
    width: 40%;
  }
  .color-date{
    color: $blue !important;
  }
}
