$blue:#379ED4;
$white: #fff;
$grey:#6D6D6D;
$light-grey: #E5E5E5;
$dark_grey:#464646;
$memberarea-bg:#D5EFFF;
$max850: "(max-width:850px)";
$max850-500: "(max-width:850px) and (min-width:500px)";
$max516: "(max-width:516px)";
$min991: "(min-width:991px)";
$max991: "(max-width:991px) and (min-width:500px)";
$max500: "(max-width:500px)";
$max500-300:"(max-width:500px) and (min-width:329px)";
$max330: "(max-width:330px)";
.teacher-hero-section
{
  .info-main-container
  {
    margin-left: 7%;
    margin-right: 4%;
    padding-top: 1%;
    padding-bottom: 4%;
    .pencil-container
    {
       display: flex;
       flex-wrap: wrap;
       img
       {
         height: 30px;
         margin-top: 20px;
       }
       h1
       {
         text-transform: uppercase;
         font-size: 30px;
          color: $dark_grey;
          @media #{$max850}
          {
            font-size: 25px;
          }
          @media #{$max500}
          {
            font-size: 20px;
          }

       }
    }
    .grey-container
    {
      background-color: $light-grey;
      border-radius: 3px;
      padding: 2% 3%;
      h2
      {
        margin-top: 0px;
        color: $dark_grey;
        text-transform: capitalize;
        font-size: 25px;
        font-weight: bold;
        @media #{$max850}
        {
          font-size: 19px;
        }
        @media #{$max500}
        {
          font-size: 16px;
        }
      }
      ul
      {
        list-style: none;
        li
        {
          text-transform: capitalize;
          color: $dark_grey;
          font-size: 19px;
          line-height: 1.7em;
          padding-bottom: 12px;

          @media #{$max850}
          {
            font-size: 17px;
          }
          @media #{$max500}
          {
            font-size: 15px;
          }
        }

        li:before {
          content: "\f111";
          color: $dark_grey;
          font-size: 12px;
          font-family: 'fontawesome';
        }
      }

    }
  }
  .terms-container
  {
     height:250px;
     overflow-y:scroll;
  }

.terms-condition-para-single
{
  font-size: 22px;
  padding-left: 7%;
  padding-bottom: 2%;
  color: $dark-grey;
  @media #{$max850}
  {
    font-size: 19px;
  }
  @media #{$max500}
  {
    font-size: 16px;
  }
}
  .last-para
  {
    font-size: 19px;
    color: $dark_grey;
    line-height: 1.5em;
    @media #{$max850}
    {
      font-size: 17px;
    }
    @media #{$max500}
    {
      font-size: 15px;
    }
  }

  .terms-conditions-para //para style---
  {
    font-size: 19px;
    line-height: 1.7em;
    color: $dark_grey;
    padding-bottom: 15px;
    @media #{$max850-500}
    {
      font-size: 17px;
    }
    @media #{$max500-300}
    {
      font-size: 15px;
    }
    @media #{$max330}
    {
      font-size: 12px;
    }
  }

//checkbox style----
.checkbox-custom
{
  opacity: 0;
  position: absolute;
}
.checkbox-custom
{
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
  .checkbox-custom-label
{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  color: $dark-grey;
  font-size: 19px;
  @media #{$max500}
  {
    font-size: 12px;
  }

}

    .checkbox-custom + .checkbox-custom-label::before
    {
      content: " ";
      background-color: transparent;
      border: 1px solid $blue;
      display: inline-block;
      vertical-align: middle;
      border-radius: 3px;
      width: 30px;
      height: 25px;
      text-align: center;
      margin-right: 10px;
    }
    .checkbox-custom-label::before{
      cursor: pointer;
    }
    .checkbox-custom:checked + .checkbox-custom-label::before
    {
      content: "\f00c";
      font-family: "FontAwesome";
      background-color: transparent;
      color: $blue;
      font-size: 18px;
      border: 1px solid $blue;
      padding-bottom: 9px;
      border-radius: 3px;
    }
    .next-button
    {
      border: 1px solid $blue;
      padding: 3px 10px;
      border-radius: 5px;
      text-decoration: none;
      text-transform: capitalize;
      color: $dark_grey;
      font-size: 17px;
      float: right;
    }
    .next-button:hover{
      background-color: $blue;
      color: $white;
    }
}

#style-2::-webkit-scrollbar-button
{
  background-color: $blue;

}
#style-2::-webkit-scrollbar
{
	width: 20px;
  border-radius: 10px;
	background-color: rgba(55,158,212,.3);
}
#style-2::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(55,158,212,.5);
  height: 10px;
}
.border
{
  border:1px solid $blue;
  border-radius: 7px;
  margin: 0 5%;
  padding: 7px;
}
.bg-grey
{
  background-color: $grey;

}
.bg-white
{
  background-color: $white;
}
.margin-left-20
{
  margin-left: -20px;
}
.bg-blue
{
  background-color: $blue;
}
.underline::after
{
  display: inline-block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: $grey;
  margin-bottom: 16px;
}
.padding-h15
{
  padding-right: 15px;
  padding-left: 15px;
}
// faq page style
.triangle
{
  width: 0;
  height: 0;
  border-left: 40px solid $blue;
  border-top: 14px solid transparent;
  border-bottom: 12px solid transparent;
  @media #{$max500-300}
  {
    border-left: 25px solid $blue;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
}
.answer
{
  display: none;
}
.triangle1
{
  visibility: hidden;
  display: flex;
  h2
  {
    margin-top: 0;
    text-transform: capitalize;
    font-size: 27px;
    @media #{$max850}
    {
      font-size: 23px;
    }
    @media #{$max500}
    {
      font-size: 20px;
    }
  }
}
.heading-in-div
{
  font-size: 22px;
  font-weight: lighter;
  margin: 10px 15px;

  @media #{$max500}
  {
    font-size: 19px;
    margin: 7px;
  }
}
.margin-botom17
{
  margin-bottom: 17px;
}
//member's page styles----
.memberarea-texture-bg
{
  background-color: $memberarea-bg;
  .memberarea-info-container
  {
    background-color: $white;
    border-radius: 3px;
    padding: 2% 3%;
    border: 1px solid $dark_grey;
    h2
    {
      margin-top: 0px;
      color: $dark_grey;
      text-transform: capitalize;
      font-size: 25px;
      font-weight: bold;
      @media #{$max850}
      {
        font-size: 19px;
      }
      @media #{$max500}
      {
        font-size: 16px;
      }
    }
    ul
    {
      list-style: none;
      li
      {
        text-transform: capitalize;
        color: $dark_grey;
        font-size: 19px;
        line-height: 1.7em;
        padding-bottom: 12px;

        @media #{$max850}
        {
          font-size: 17px;
        }
        @media #{$max500}
        {
          font-size: 15px;
        }
      }

      li:before {
        content: "\f111";
        color: $dark_grey;
        font-size: 12px;
        font-family: 'fontawesome';
      }
    }
  }
}
.bg-trans
{
  background-color: transparent;
}
.border-top-blue
{
  border-top: 1px solid $blue;
}
.rotate-img
{
  transform: rotate(180deg);
  margin-left: 20px;
}
//new-tutoring page style----
.traingle-sml-heading
{
  text-transform: capitalize;
  @media #{$max850-500}
  {
    font-size: 21px;
  }
  @media #{$max500-300}
  {
    font-size: 19px;
  }
  @media #{$max330}
  {
    font-size: 17px;
  }
}
.margin-top0
{
  margin-top: 0;
}
.margin-top20
{
  margin-top: 3%;
}
//why wiki page style-----
.why-wiki-para-img
{
  .para-div
  {
     flex:3;
  }
  display: flex;
  .why-wiki-img-container
  {
    flex:2;
    position:relative;
    .why-wiki-img-div
    {
      position: absolute;
      top: -28%;
      bottom: -28%;
      right: -55px;
      left: 5px;
      @media #{$max850-500}
      {
        top: -31px;
        bottom: -31px;
        right: -40px;
      }
      @media #{$max500-300}
      {
        top: -27px;
        bottom: -27px;
        right: -30px;
      }
      @media #{$max330}
      {
        top: -27px;
        bottom: -27px;
        right: -25px;
      }
    }
    .bg-why-1
    {
      background-image: url('../images/why-1.png');
      background-size: cover;
      background-position: center;
    }
    .bg-why-2
    {
      background-image: url('../images/why-2.png');
      background-size: cover;
      background-position: center;
    }
    .bg-why-3
    {
      background-image: url('../images/why-3.png');
      background-size: cover;
      background-position: center;
    }
    .bg-why-4
    {
      background-image: url('../images/why-4.png');
      background-size: cover;
      background-position: center;
    }
  }
}
.padding-top5
{
  padding-top: 5px;
}
.position-relative
{
  position: relative;
}
.arrow-circle
{
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background-color: $blue;
    position: absolute;
    bottom: -50px;
    line-height: 59px;
    text-align: center;
    left: 65%;
    font-size: 3em;
    @media #{$max850-500}
    {
      width: 40px;
      height: 40px;
      font-size: 2em;
      line-height: 44px;
      bottom: -40px;
    }
    @media #{$max500}
    {
      width: 30px;
      height: 30px;
      font-size: 1.5em;
      line-height: 34px;
      bottom: -28px;
    }
}
.arrow-circle:hover
{
  cursor: pointer;
}
.down-arrow-btn
{
  color:$white;
}

//First lessons page style---
.first-lesson-img-div
{
  position: absolute;
  top: -143px;
  right: -4px;
  bottom: 92px;
  left: 7px;
  @media #{$max850-500}
  {
    top: -90px;
  }
  @media #{$max500-300}
  {
    top: -50px;
  }
  @media #{$max330}
  {
    top: -27px;
  }
}
.first-lesson-img-div::before
{
  position: absolute;
  top: -7px;
  right: -7px;
  left: -7px;
  content: "";
  height: 122px;
  border-top: 1px solid $blue;
  border-left: 1px solid $blue;
  border-right: 1px solid $blue;
  @media #{$max850-500}
  {
    height: 78px;
  }
  @media #{$max500-300}
  {
    height: 42px;
  }
  @media #{$max330}
  {
    height: 2px;
    top: -5px;
    right: -5px;
    left: -5px;
  }
}
.first-lesson-button
{
  position: absolute;
  bottom: 20px;
  left: 35%;
  color: $white;
  background-color: $blue;
  text-transform: uppercase;
  border-radius: 7px;
  border: 0;
  padding: 5px 10px;
  font-size: 12px;
  @media #{$max500-300}
  {
    padding: 3px 5px;
    font-size: 9px;
  }
  @media #{$max330}
  {
    padding: 3px 5px;
    font-size: 9px;
  }
}
.margin-bottom-8
{
  margin-bottom: 8%;
}
.margin-bottom-2
{
  margin-bottom: 2%;
}
.margin-bottom-30
{
  margin-bottom: 30px;
}
.more-button
{
  background-color: $blue;
  color: $white;
  text-transform: uppercase;
  border: 1.5px solid $blue;
  border-radius: 7px;
  padding: 3px 15px;
}
.more-button:hover
{
  color: $blue;
  background-color: $white;
}

// blog page styles-----
.panel-style
{
  margin: 0 auto;
  border: 2px solid $blue;
  border-radius: 9px;
  .panel-heading
  {
    background-color: $blue;
    padding: 3px 10px;
    color: $white;
    text-transform: uppercase;
    font-size: 15px;
  }
  label
  {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: normal;
    text-align: left;
  }
  input
  {
    border: 1px solid $dark-grey;
    border-radius: 10px;
    padding-left: 7px;
    margin-bottom: 10px;
  }
  input:focus
  {
    outline: 0;
  }
}
.blog-button
{
  background-color: $blue;
  border-radius: 7px;
  border: 0;
  padding: 3px 9px;
  font-size: 13px;
}
.blog-button:focus
{
  outline: 0;
}
.float-right
{
  float: right;
}
.margin-left-5
{
  margin-left: 5%;
}
.flex-center
{
  display: flex;
}
.blog-heading
{
  font-size: 25px;
  @media #{$max500-300}
  {
    font-size: 21px;
  }
  @media #{$max330}
  {
    font-size: 18px;
  }
}
.older-post-link
{
  font-size:17px;
  text-transform:uppercase;
  margin-left:5%;
  margin-top:20px;
  span
  {
    font-size:20px;
  }
}
