/*variable declaration section*/
$grey:#6D6D6D;
$white:#fff;
$dark_grey:#464646;
$blue:#379ED4;
$navbar-bg:#282828;
$a_border:#3B9FDB;
$white:#fff;
$place_color:#A2A2A2;
$btn_green:#379FD4;
$light_grey:#CBCBCB;
$heading_h:#6D6D6D;
$dark_yelow:#D4A426;
$dark_white:#F7F7F7;
$grey_p:#4F4F4F;
$border_orange:#F45C5D;
$border_green:#99CA57;
$border_blue:#76B5DD;
$light_green:#DAF1FF;
$light_white:#FAFAFA;
$img_border:#989898;
$dark_p:#909090;
$btn_grey:#A6A6A6;
$btn_green2:#64B3DF;
$star_blue:#5890DA;
$textarea_bg:#EFEFEF;
$btn_blue:#3D599A;
$btn_navyble:#007DB7;
$border_green:#8DC6E9;
$bg_addbilling:#F2F6F9;
$light_black:#696969;
$progress_bar:#359ED7;
$border_col:#C6CACD;


$max300:"(min-width:0) and (max-width:300px)";
$max500:"(min-width:301px) and (max-width:500px)";
$max768:"(min-width:501px) and (max-width:768px)";
$max992:"(min-width:769px) and (max-width:992px)";
$max0_992:"(min-width:0) and (max-width:992px)";
$max1200:"(min-width:993px) and (max-width:1200px)";

/*******miscelleneous section*******/
body{
  overflow-x: hidden;
}
.testimonial-section{
  padding: 3%;
  background-color: $light_green;
  border-top: 1px solid $blue;
  border-bottom: 1px solid $blue;
  .fa{
    color: $dark_grey;
  }
  .student-testimonial{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    h3{
      margin: 0;
      text-transform: uppercase;
      @media #{$max300}  {
        font-size: 15px;
      }
      @media #{$max500}  {
        font-size: 15px;
      }
    }
  }
  .star-n-users{
    // width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    .icon-user{
      font-size: 36px;
    }
  }
  .icon-star{
    font-size: 20px;
    margin-top: 3px;
  }
  .testimonial-border{
    display: block;
    width: 70%;
    height: 2px;
    background-color: $place_color;
    margin: 0 auto;
  }
}
.testimonial-para-div{

  margin-top: 3%;
  padding-top: 1px;
  padding-bottom: 1%;
  .testimonial-img-para{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 8%;
    @media #{$max300}  {
      margin: 1%;
    }
    @media #{$max500}  {
      margin: 1%;
    }

    img{
      width:100px;
      border-radius: 100%;
      border: 5px solid $white;
      @media #{$max500}{
        width: 60px;
      }
      @media #{$max300}{
          width: 60px;
      }

    }
    .users-div{
      width: 100px;
      height: 100px;
      border-radius: 100%;
      border: 5px solid $white;
      margin-left: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media #{$max300}{
        width: 60px;
        margin-left: 2px;
      }
      @media #{$max500}{
        width: 60px;
        margin-left: 2px;
      }
      .fa{
        color: $white;

        font-size: 60px;
        // line-height: 100px;
        margin:10px;
      }
    }
    .jonkie-img{
      margin-right: 50px;
      @media #{$max500}{
        margin-right: 2px;
      }
      @media #{$max300}{
        margin-right: 2px;
      }
    }
    .apurba-img{
      margin-left: 50px;
      @media #{$max500}{
        margin-left: 2px;
      }
      @media #{$max300}{
        margin-left: 2px;
      }
    }
    .testimonial-img{
      background-color: $white;
      padding: 2px;
      text-align: justify;
      position: relative;
      p{
        display: inline;
        color:$place_color;
        @media #{$max300}  {
          font-size: 12px;
        }
        @media #{$max500}  {
          font-size: 12px;
        }
      }
      .tutees-line{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 1%;
        .jonkie-chime-line{
          width: 10%;
          height: 1px;
          background-color: $place_color;
        }
        h5{
          text-transform: capitalize;
          font-size: 20px;
          color: $place_color;
        }
      }

      .testimonial-div-border{
        border:5px solid $border_col;
        border-style: double;
        padding: 5%;
      }
      .triangle-white{
        position: absolute;
        width: 0;
        height: 0;
        border-right:38px solid $white;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        top:43%;
        left: -38px;
        @media #{$max500}{
          display: none;
        }
        @media #{$max300}{
          display: none;
        }

      }
      .triangle-white2{
        position: absolute;
        width: 0;
        height: 0;
        border-left:38px solid $white;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        top:43%;
        right: -38px;
        @media #{$max500}{
          display: none;
        }
        @media #{$max300}{
          display: none;
        }
      }
    }
  }

}
